// bower:scss
// endbower
body {
  padding: 0;
  margin: 0;
  background-color: #100C05;
  overflow: hidden;
}
path {
  stroke: #ffd85f;
  stroke-width: 0.5px;
  fill: #56481e;
}
.tittleOptionsMain{
  /* position: absolute; */
  /* left: 0; */
  /* right: 0; */
  margin-top: 20%;
  /* bottom: 0; */
  margin-left: 6%;
  /* margin: auto; */
  height: 20%;
  background-color: rgba(0, 0, 0, 0.55);
  width: 70%;
}
.mainBottons{
  width: 95px;
  height: 95px;
  //opacity: 0;
  //-ms-transform: scale(0,0); /* IE 9 */
  //-webkit-transform: scale(0,0); /* Chrome, Safari, Opera */
  //transform: scale(0,0);
  font-family: 'Alice',serif;
  border-radius: 50%;
  background-color: rgb(86, 77, 48);
  margin-right: 10px;
  float: left;
  cursor: pointer;
  font-size: 35px;
  padding: 10px;
  color: rgb(255, 216, 95);
  border: solid 5px yellow;
}
.back{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 700%;
}
.backGroundColor{
  float: left;
  height: 100%;
  width: 14.3%;
}
.color0{
//  background-image: url("/images/cuba3.jpg");
//  background-size: cover;
  background-color: rgb(14, 9, 7);
//  opacity: 0.2;
}
.color1{
  background-color: #F7B862;
}
.color2{
  background-color: #6B4B30;
}
.color3{
  background-color: #63431D;
}
.color4{
  background-color: #C48332;
}
.pentagramRect{
  position: absolute;
  bottom: 3%;
  width: 14.3%;
}
.videoClass{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 65%;
  z-index: 999;
}
.scrollIcon{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10%;
  width: 4%;
  z-index: 997;
}
.BackVideo{
  background-image: url("/images/cuba31.jpg");
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #111111;
  z-index: 999;
}
.ageTitle {
  font-family: 'Alice',serif;
  text-align: center;
//  color: #ffd85f;
  color: #180f0c;
  opacity: 0.5;
  height: 30px;
  width: 14%;
  font-size: 20px;
  font-weight: bold;
  float: left;
  display: inline-block;
}
.ageTitleFirst {
  font-family: 'Alice',serif;
  text-align: center;
  color: #ffd85f;
//  color: #180f0c;
  opacity: 1;
  height: 30px;
  width: 14%;
  font-size: 40px;
  font-weight: bold;
  float: left;
  display: inline-block;
}
.yearsGroup {
  position: absolute;
  left: 1%;
  bottom: 12%;
  width: 100%;
}
.dinamycText {
  font-family: 'Alice',serif;
  text-align: justify;
  color: #ffd85f;
  font-size: 30px;
  width: 50%;
  margin-right: 5%;
  margin-top: 25%;
  float: right;
  opacity: 0;
  z-index: 999;
}
.napFace{
  position: absolute;
  bottom: -5px;
  right: 100%;
  width: 25%;
}
.boxGroup {
  display: block;
  float: right;
  /* bottom: 0; */
  /* right: 0; */
  margin: auto;
  height: 50px;
}
.boxAnim{
  /* width: 95px; */
  /* height: 50px; */
  //opacity: 0;
  //-ms-transform: scale(0,0); /* IE 9 */
  //-webkit-transform: scale(0,0); /* Chrome, Safari, Opera */
  //transform: scale(0,0);
  font-family: 'Alice',serif;
  border-radius: 2px;
  background-color: rgb(86, 77, 48);
  margin-right: 10px;
  float: left;
  cursor: pointer;
  font-size: 12px;
  padding: 10px;
  color: rgb(255, 216, 95);
}
.wordStyle{
  display: inline-block;
}

.footer{
  height: 40px;
  width: 100%;
  background-color: #2e2e2e;
  border-top: solid 2px white;
  position: absolute;
  bottom: -60px;
  left: 0px;
}
//----RAGE SLIDER STYLE---//

input[type=range] {
  -webkit-appearance: none;
  border: 1px solid white;
  opacity: 0;
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 3000px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #000000;
  border: none;
  height: 30px;
  width: 20%;
  margin-top: -1.5%;
  margin-left: -1.5%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  width: 3000px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: 300px;
  height: 5px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
  background: #888;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}
.timeSlider{
  position: absolute;
  bottom: 6%;
  right: 0;
  margin: auto;
  z-index: 999;
  width: 20%;
  left: -25%;
}
.slideInput{
  width: 100%;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
