// bower:scss
// endbower

$fontSizeBig: 20px;
$fontSizeMedium: 16px;
$fontSizeSmall: 12px;

$colorWhite: #FFFFFF;
$colorBlack: #000000;
$color0_0: rgba(14, 9, 7, 1);
$color0_1: #56481e;
$color0_2: #63431D;
$color0_3: #C48332;
$color0_4: #ffd85f;

body {
  padding: 0;
  margin: 0;
  background-color: #100C05;
  overflow: hidden;
}
path {
  stroke: #ffd85f;
  stroke-width: 0.5px;
  fill: #56481e;
}
.menuMainBox {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  border-radius: 0px 0px 300px 0px;
  overflow: hidden;
  border-right: solid 6px #ffd85f;
  z-index: 998;
  transition: all 0.5s ease-in-out;
}
.itemGroupBox {
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 0.5s ease-in-out;
}
.menuItemBox {
  width: 120%;
  color: #ffd85f;
  padding: 0px 20px;
  cursor: pointer;
  opacity: 1;
  height: 100%;
  border-left: 6px solid rgba(255, 255, 0, 0);
  transition: all 0.4s ease-in-out;
}
.menu1 {font-size: 26px; padding: 0px 6px}
.menu2 {font-size: 22px; padding: 0px 20px}
.menu3 {font-size: 38px; padding: 0px 8px}
.menu4 {font-size: 20px; padding: 0px 20px}
.menu5 {font-size: 14px; padding: 0px 10px}
.menuItemBox:hover {
  border-left: 6px solid rgb(255, 216, 95);
  background-color: rgba(0, 0, 0, 0.4);
}

.mapIcon {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 30px;
  left: 1%;
  z-index: 998;
  border: 4px solid #ffd85f;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition-property: height, width, padding, left;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0.5s, 1s, 1s, 0s;
  transition-property: height, width, padding, left;
  transition-duration: 0.5s;
  transition-delay: 0.5s, 1s, 1s, 0s;
}
.mapIconMini{
  height: 340px;
  width: 0px;
  padding: 0px;
  left: 900px;
  -webkit-transition-property: height, width, padding, left;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0.5s, 0s, 0s, 1s;
  transition-property: height, width, padding, left;
  transition-duration: 0.5s;
  transition-delay: 0.8s, 0.3s, 0.3s, 1s;
}
.mapItem {
  width: 100%;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out 1s;
  transition: all 0.2s ease-in-out 1s;
}
.mapItemMini {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out 1s;
  transition: all 0.2s ease-in-out 1s;
}

.mapaDMini {
  position: absolute;
  top: 30px;
  left: -905px;
  z-index: 997;
  width: 900px;
  overflow: hidden;
  height: 340px;
  background-color: rgba(0, 0, 0, 0.40);
  -webkit-transition-property: left;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  transition-property: left;
  transition-duration: 0.5s;
  transition-delay: 0s;
}
.mapaD{
  left: 0px;
  -webkit-transition-property: left;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 1s;
  transition-property: left;
  transition-duration: 0.5s;
  transition-delay: 1s;
}
.arrowLeft{
  position: absolute;
  top: 2%;
  height: 12%;
  right: 2%;
  cursor: pointer;
  opacity: 0.4;
}

.back{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 700%;
}
.backGroundColor{
  float: left;
  height: 100%;
  width: 14.28%;
}
.color0{
  background-color: rgb(14, 9, 7);
}
.color1{
  background-color: #F7B862;
}
.color2{
  background-color: #6B4B30;
}
.color3{
  background-color: #63431D;
}
.color4{
  background-color: #C48332;
}
.pentagramRect{
  position: absolute;
  bottom: 3%;
  width: 14.3%;
}
.videoClass{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 65%;
  z-index: 999;
}
.scrollIcon{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10%;
  width: 4%;
  z-index: 997;
}
.BackVideo{
  background-image: url("/images/cubaWide.jpg");
  background-size: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #111111;
  z-index: 999;
}
.skipVideo{
  position: absolute;
  right: 3%;
  bottom:3%;
  font-size: 30px;
  font-family: 'Alice',serif;
  text-align: center;
  color: #ffd85f;
  cursor: pointer;
}

.ageTitle {
  font-family: 'Alice',serif;
  text-align: center;
  color: #434242;
  opacity: 0.5;
  height: 30px;
  width: 14%;
  font-size: $fontSizeBig;
  font-weight: bold;
  float: left;
  display: inline-block;
}
.yearsGroup {
  position: absolute;
  left: 1%;
  bottom: 3%;
  width: 100%;
}
.dinamycText {
  font-family: 'Alice',serif;
  text-align: justify;
  color: #ffd85f;
  font-size: $fontSizeBig;
  width: 50%;
  margin-right: 5%;
  margin-top: 30%;
  float: right;
  //opacity: 0;
  z-index: 999;
}
.instructions {
  position: absolute;
  bottom: 5%;
  right: 4.5%;
  font-family: 'Alice',serif;
  text-align: justify;
  color: white;
  font-size: $fontSizeSmall;
  z-index: 998;
}
.napFace{
  position: absolute;
  bottom: -5px;
  left: 0%;
  width: 4%;
  opacity:0;
}
.boxGroup {
  display: block;
  float: right;
  margin: auto;
  height: 50px;
}
.wordStyle{
  display: inline-block;
}

.footer{
  height: 40px;
  width: 100%;
  background-color: #2e2e2e;
  border-top: solid 2px white;
  position: absolute;
  bottom: -60px;
  left: 0px;
}
.gironaMap{
  position: absolute;
  bottom: 10%;
  width: 2.5%;
  z-index: 997;
  margin-left: 10%;
  transform: rotateZ(90deg);
  opacity: 0.7;
}
.fotoFamily {
  width: 7%;
  position: absolute;
  top: 2%;
  margin-left: 1%;
  -webkit-box-shadow: 21px 21px 26px -2px rgba(0,0,0,0.55);
  -moz-box-shadow: 21px 21px 26px -2px rgba(0,0,0,0.55);
  box-shadow: 21px 21px 26px -2px rgba(0,0,0,0.55);
}
.prel01 {
  position: absolute;
  height: 60%;
  margin-left: 1%;
  bottom: -65%;
  opacity: 0.5;
}
.prel02{
  position: absolute;
  height: 30%;
  margin-left: 5%;
  bottom: -40%;
  opacity: 0.7;
  -webkit-box-shadow: 21px 21px 26px -2px rgba(0,0,0,0.55);
  -moz-box-shadow: 21px 21px 26px -2px rgba(0,0,0,0.55);
  box-shadow: 21px 21px 26px -2px rgba(0,0,0,0.55);
}
.prel03{
  position: absolute;
  height: 25%;
  margin-left: 10%;
  bottom: -40%;
  z-index: 997;
  -webkit-box-shadow: 21px 21px 26px -2px rgba(0,0,0,0.55);
  -moz-box-shadow: 21px 21px 26px -2px rgba(0,0,0,0.55);
  box-shadow: 21px 21px 26px -2px rgba(0,0,0,0.55);
}
.textIntro{
  font-family: 'Alice',serif;
  position: absolute;
  top: 3%;
  width: 4%;
  margin-left: 9%;
  z-index: 997;
  color: rgb(14, 9, 7);
  font-size: $fontSizeBig;
}
.cita1{
  font-family: 'Alice',serif;
  font-style: italic;
  position: absolute;
  bottom: 45%;
  width: 4%;
  margin-left: 5%;
  z-index: 997;
  color: #2f220f;
  font-size: $fontSizeMedium;
}
.texto1{
  font-family: 'Alice',serif;
  font-style: italic;
  position: absolute;
  top: 10%;
  width: 4%;
  margin-left: 10%;
  z-index: 997;
  color: #150f08;
  font-size: $fontSizeBig;
}
.addons1{
  position: absolute;
  margin-left: 7%;
  bottom: 25%;
  z-index: 997;
}
.videoAddon{
  width: 1%;
  margin-left: 3%;
  opacity: 0;
  -ms-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
  cursor: pointer;
}
.textAddon{
  width: 2%;
  margin-left: 3%;
  opacity: 0;
  -ms-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
  cursor: pointer;
}
//----RAGE SLIDER STYLE---//

input[type=range] {
  -webkit-appearance: none;
  border: 1px solid white;
  opacity: 0;
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 3000px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #000000;
  border: none;
  height: 30px;
  width: 20%;
  margin-top: -1.5%;
  margin-left: -1.5%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  width: 3000px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: 300px;
  height: 5px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
  background: #888;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}
.timeSlider{
  position: absolute;
  bottom: 6%;
  right: 0;
  margin: auto;
  z-index: 999;
  width: 20%;
  left: -25%;
}
.slideInput{
  width: 100%;
}
/* Responsive: Portrait tablets and up */
@media only screen and (max-width: 1600px) {
  .dinamycText {
    font-size: $fontSizeBig;
  }
  .ageTitle {
    font-size: $fontSizeBig;
  }
  .texto1{
    font-size: $fontSizeMedium;
  }
  .textIntro{
    font-size: $fontSizeMedium;
  }
}
