// bower:scss
// endbower

$fontSizeBig: 20px;
$fontSizeMedium: 16px;
$fontSizeInter: 12px;
$fontSizeSmall: 10.5px;

$colorWhite: #FFFFFF;
$colorBlack: #000000;
$color0_0: rgba(14, 9, 7, 1);
$color0_1: #56481e;
$color0_2: #63431D;
$color0_3: #C48332;
$color0_4: #ffd85f;

body {
  padding: 0;
  margin: 0;
  background-color: #131213;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}
.img{
  -webkit-box-shadow: 10px 10px 25px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 25px 3px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 25px 3px rgba(0,0,0,0.75);
  //-webkit-box-shadow: 0px 0px 3px 3px rgba(255, 216, 95, 0.7);
  //-moz-box-shadow: 0px 0px 3px 3px rgba(255, 216, 95, 0.7);
  //box-shadow: 0px 0px 3px 3px rgba(255, 216, 95, 0.7);
  z-index: 990;
}
//-----ICONOS---------------

.topMenu{
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0%;
  left:0;
  background: #000; /* For browsers that do not support gradients */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  z-index: 997;
}

.iconos{
  position: absolute;
  top:10px;
  width: 28px;
  z-index: 999;
  cursor: pointer;
}
.iconoMenu{ left: 2%;}
.iconoMenuImage{width: 100%;}
.iconoSound{ right: 2%;}
.iconoSoundImage{width: 100%;}
.iconoMute{ right: 2%;}
.iconoMuteImage{width: 100%;}
//---- CARA ANIMATION ------
.faceSvgClass path{
  fill: none;
  stroke: #ffd85f;
  stroke-width: 4px;
}
.svgFace{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 25%;
  margin: auto;
  width: 50%;
  height: 75%;
  opacity: 0.7;
  z-index: 999;
}
// ----- fIN CARA ANIMATED -----
// ----- MENU MAPA -------------
.mapIcon {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 30px;
  left: 1%;
  z-index: 998;
  border: 4px solid #ffd85f;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition-property: left, height, width, padding;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-delay: 0s, 0.2s, 0.5s, 0.5s;
  transition-property: left, height, width, padding;
  transition-duration: 0.2s;
  transition-delay: 0s, 0.2s, 0.5s, 0.5s;
}
.mapIconMini{
  height: 335px;
  width: 0px;
  padding: 0px;
  left: 900px;
  -webkit-transition-property: height, width, padding, left;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s, 0s, 0.5s;
  transition-property: height, width, padding, left;
  transition-duration: 0.2s;
  transition-delay: 0.2s, 0s, 0s, 0.5s;
}
.mapItem {
  width: 100%;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.mapItemMini {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mapaDMini {
  position: absolute;
  top: 30px;
  left: -905px;
  z-index: 998;
  width: 900px;
  overflow: hidden;
  height: 340px;
  background-color: rgba(0, 0, 0, 0.40);
  -webkit-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}
.mapaD{
  left: 0%;
  -webkit-transition: left 0.2s ease-in-out 0.5s;
  transition: left 0.2s ease-in-out 0.5s;
}
// ----- FIN MENU MAPA -----
// ------ ARROW CONTROLS -----
.arrowLeft{
  position: absolute;
  top: 2%;
  height: 12%;
  right: 2%;
  cursor: pointer;
  opacity: 0.4;
}
.arrowPrev{
  position: absolute;
  bottom: -20%;
  height: 20%;
  left: 0%;
  cursor: pointer;
  opacity: 0.8;
  z-index: 990;
}
.arrowNext{
  position: absolute;
  bottom: -20%;
  height: 20%;
  right: 0%;
  cursor: pointer;
  opacity: 0.8;
  transform: rotateY(180deg);
  z-index: 990;
}
// ------ PAGES -------
.back{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index:991;
}
.page0 {
  z-index: 987;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.page1, .page2, .page3, .page4, .page5, .page6, .page7, .page8, .page9, .page10, .page11, .page12, .page13, .page14, .page15, .page16, .page17, .page18{
  right: -100%;
}
.backIlustration{
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-perspective: 300px;
  perspective: 300px;
}
.back1{z-index: 988;}
.back2{z-index: 987;}
.back3{z-index: 986;}
.back4{z-index: 985;}
.back5{z-index: 984;}
.back6{z-index: 983;}
.back7{z-index: 982;}
.back8{z-index: 981;}
.blurEffect1, .blurEffect2, .blurEffect3, .blurEffect4, .blurEffect5, .blurEffect6, .blurEffect7, .blurEffect8{
  -webkit-filter: blur(0px); /* Chrome, Safari, Opera */
  filter: blur(0px);
}
.color0{
  background-color: rgba(14, 9, 7, 0);
}
// -------- PENTAGRAM -----
.pentagramRect{
  position: absolute;
  bottom: -50%;
  width: 100%;
  z-index: 998;
}
.pentagramBack{
  width: 100%;
  height: 13%;
  position: absolute;
  bottom: -50%;
  left:0;
  background: black; /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(rgba(10,10,10,0) 1%,rgba(10,10,10,0.9) 40%); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(rgba(10,10,10,0) 1%,rgba(10,10,10,0.9) 40%); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(rgba(10,10,10,0) 1%,rgba(10,10,10,0.9) 40%); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(rgba(10,10,10,0) 1%,rgba(10,10,10,0.9) 40%); /* Standard syntax */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  z-index: 997;
}
.pentagramNotesGroup{
  position: absolute;
  left: 6%;
  bottom: -50%;
  width: 100%;
  z-index: 998;
}
.pentagramNotes{
  width: 3%;
  height: 100%;
  float: left;
  cursor: pointer;
}
.noteImgNegra{
  width: 30%;
  height: 30%;
}
.noteImgSilen{
  width: 50%;
  height: 50%;
}
.noteImgTrioNegra{
  width: 100%;
  height: 100%;
}
.noteImgCor{
  width: 50%;
  height: 50%;
}
.linePent1{
  margin-top: 0%;
}
.linePent2{
  margin-top: -25%;
}
.linePent3{
  margin-top: -50%;
}
.linePent4{
  margin-top: -75%;
}
.linePent5{
  margin-top: -100%;
}
// ------- VIDEO --------
.videoClass{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  z-index: 990;
}
.videoCover{
  position: absolute;
  background-color: #000000;
  opacity: 1;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 991;
}
.dinamycText{
  position: absolute;
  width: 100%;
  top: 25%;
  z-index: 999;
}
.dinamycText h2{
  /*font-family: 'Lora',serif;*/
  /*font-family: "Avenir", "Arial Black", Arial, sans-serif;*/
  /*font-family: 'Bowlby One SC', cursive;*/
  font-family: 'Alegreya Sans', "Avenir", "Arial Black", Arial, sans-serif;
  text-align: center;
  font-weight: 900;
  color: #ffd85f;/*#FFE698;*/
  /*font-size: 70px;*/
  margin: 0;
}
.dinamycText h3{
  font-family: "Baskerville", serif;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  color: #f3f3f3;
  font-size: 28px;
  margin: 0;
}
.dinamycText h3 span.cugat-name{
  text-transform: uppercase;
  color: red;
}
.wordStyle{
  display: inline-block;
  margin-right: 9px;
  opacity: 1;
}
//------ADITIONAL CONTENT --------
.additional{
  position: absolute;
  width: 90%;
  height: 90%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 998;
  opacity: 0;
  transform: scale(0);
  -webkit-transform-origin: 100% 80%;
  -moz-transform-origin: 100% 80%;
  -ms-transform-origin: 100% 80%;
  -o-transform-origin: 100% 80%;
  transform-origin: 100% 80%;
}
.plusInfo{
  width: 4%;
  position: absolute;
  z-index: 999;
  cursor: pointer;
}
.plusInfo1{
  right: 5%;
  bottom:20%;
}
.plusInfo2{
  right: 50%;
  bottom:15%;
  z-index: 999;
}
.plusInfo3{
  right: 5%;
  top:15%;
  z-index: 999;
}
//---------FIN ADITIONAL CONTENT --------
//DIAPOSITIVA 1
.ed1{
  width: 110%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -120%;
}
.ed2{
  width: 110%;
  height: 100%;
  position: absolute;
  top: -120%;
  left: 0;
}
.ed3{
  width: 110%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 120%;
}
.ed4{
  width: 130%;
  height: 115%;
  position: absolute;
  top: -10%;
  left: 0;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.gironaMap{
  position: absolute;
  bottom: 10%;
  width: 15%;
  z-index: 997;
  right: 10%;
  transform: rotateZ(90deg);
  opacity: 0.3;
}
.prelGroup{
  position: absolute;
  top: -420%;
  left: 10%;
  width: 40%;
  height: 40%;
  z-index: 989;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -ms-transform: scale(10);
  -o-transform: scale(10);
  transform: scale(10);
}
.prel01 {
  position: absolute;
  height: 150%;
  top: -10%;
  left: 15%;
}
.prel02{
  position: absolute;
  top: 5%;
  left: -5%;
  height: 100%;
}
.prel03{
  position: absolute;
  top: 2%;
  left: 9%;
  height: 100%;
}
.prel04{
  position: absolute;
  top: 12%;
  left: 15%;
  height: 100%;
}
.cita1{
  position: absolute;
  font-family: 'Dancing Script', cursive;
  font-style: italic;
  z-index: 997;
  //color: #231a16;
  color: #ffd85f;/*#FFE698;*/
  font-size: 35px;
  //background-color: rgba(255, 255, 255, 0.70);
  padding: 2% 3%;
}
.cita11{
  bottom: -100%;
  width: 90%;
  left: 2%;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -ms-transform: scale(10);
  -o-transform: scale(10);
  transform: scale(10);
}
.texto1{
  /*font-family: 'Lora', serif;*/
  z-index: 997;
  color: #FFFFFF;
  font-size: 15px;
  text-align: justify;
  position: absolute;
  width: 35%;
  background-color: rgba(33, 33, 33, 0.75);
  padding: 2% 1%;
}
.texto11{
  top: -100%;
  right: 5%;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -ms-transform: scale(10);
  -o-transform: scale(10);
  transform: scale(10);
}
.texto12{
  top: -100%;
  right: 5%;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -ms-transform: scale(10);
  -o-transform: scale(10);
  transform: scale(10);
}
.texto13{
  top: -100%;
  right: 5%;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -ms-transform: scale(10);
  -o-transform: scale(10);
  transform: scale(10);
}
.plusInfoProlPlus1{
  right: 5%;
  bottom:20%;
}
.plusInfoProlMinus1{
  right: 5%;
  bottom:20%;
}
.CitaAddonProl1{
  position: absolute;
  font-family: 'Bowlby', cursive;
  font-style: italic;
  font-size:14px;
  z-index: 997;
  color: rgb(255, 216, 95);
}
.prol1{width: 40%; top: 10%; left: 5%;}
.prol2{width: 40%; top: 30%; left: 5%;}
.prol3{width: 40%; top: 50%; left: 5%;}
.prol4{width: 30%; top: 55%; right: 10%;}
.prol5{width: 40%; top: 70%; left: 5%;}

.p11VideoAddon{
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 991;
  width: 30%;
  height: 30%;
  border-right: dotted 10px rgb(255, 216, 95);
  border-left: dotted 10px rgb(255, 216, 95);
}
// FIN DIAPOSITIVA 1
// DIAPOSITIVA 2
.cub1{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 120%;
  left: 0;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
.mapSvgContainer{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.9;
  z-index: 989;
}
.mapSvgClassTop{
  position: absolute;
  width: 700%;
  left: -275%;
  top: -260%;
}
.mapSvgClass path{
  fill: rgba(83, 78, 80, 0.46);
  stroke: #3a383a;
  stroke-width: 1px;
}
.viaje1Class path{
  fill: 'none';
  stroke: #ffd85f;
  stroke-width: 2px;
}
//FIN DIAPOSITIVA 2
//DIAPOSITIVA 3
.ny1, .ny2, .ny3, .ny4{
  position: absolute;
  top:-150%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(0deg);
  -moz-transform:  rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}
.ny5, .ny6, .ny7{
  position: absolute;
  top: 0%;
  right: -150%;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0) rotateY(0deg);
  -moz-transform:  scale(0) rotateY(0deg);
  -ms-transform: scale(0) rotateY(0deg);
  -o-transform: scale(0) rotateY(0deg);
  transform: scale(0) rotateY(0deg);
  -webkit-transform-origin: 100% 60%;
  -moz-transform-origin: 100% 60%;
  -ms-transform-origin: 100% 60%;
  -o-transform-origin: 100% 60%;
  transform-origin: 100% 60%;
}
.prel05{
  position: absolute;
  top:-200%;
  right: 75%;
  height:35%;
  z-index: 989;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -ms-transform: scale(10);
  -o-transform: scale(10);
  transform: scale(10);
}
.prelpant1{
  position: absolute;
  top:-200%;
  right: 33%;
  height:35%;
  z-index: 989;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -ms-transform: scale(10);
  -o-transform: scale(10);
  transform: scale(10);
}
.prel06{
  position: absolute;
  top:-200%;
  right: 13%;
  height:35%;
  z-index: 989;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -ms-transform: scale(10);
  -o-transform: scale(10);
  transform: scale(10);
}
.texto14{
  top:-150%;
  right: 50%;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -ms-transform: scale(10);
  -o-transform: scale(10);
  transform: scale(10);
}
.texto15{
  top:-150%;
  right: 30%;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -ms-transform: scale(10);
  -o-transform: scale(10);
  transform: scale(10);
}
.texto16{
  top:-150%;
  right: 10%;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -ms-transform: scale(10);
  -o-transform: scale(10);
  transform: scale(10);
}
.p21Video{
  position: absolute;
  top:10%;
  right: 10%;
  z-index: 991;
  width: 30%;
  height: 30%;
  border-right: dotted 10px rgb(255, 216, 95);
  border-left: dotted 10px rgb(255, 216, 95);
}
.p22Video{
  position: absolute;
  top:50%;
  right: 10%;
  z-index: 991;
  width: 30%;
  height: 30%;
  border-right: dotted 10px rgb(255, 216, 95);
  border-left: dotted 10px rgb(255, 216, 95);
}
.textAddonProl3{
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  z-index: 997;
  color: rgba(255, 255, 255, 1);
  font-size: $fontSizeMedium;
}
.CitaAddonProl3{
  position: absolute;
  font-family: 'Bowlby', cursive;
  font-style: italic;
  font-size:14px;
  z-index: 997;
  color: rgb(255, 216, 95);
}
.textProl1{width: 40%; top: 10%; left: 5%;}
.citaProl1{width: 40%; top: 35%; left: 5%;}
.citaProl2{width: 40%; top: 60%; left: 5%;}
//FIN DIAPOSITIVA 3
// DIAPOSITIVA 4
.texto17{
  top: 70%;
  right: -100%;
}
.texto18{
  top: 70%;
  right: -100%;
}
.cita12{
  top: 10%;
  width: 70%;
  right: -100%;
}
.p31Video{
  position: absolute;
  top: 0%;
  bottom: 10%;
  left: 0%;
  right: -150%;
  margin:auto;
  z-index: 991;
  width: 40%;
  height: 40%;
  border-right: dotted 10px rgb(255, 216, 95);
  border-left: dotted 10px rgb(255, 216, 95);
}
.textProl4{width: 40%; top: 10%; left: 5%;}
.textProl5{width: 40%; top: 35%; left: 5%;}
.textProl6{width: 40%; top: 60%; left: 5%;}
//FIN DIAPOSITIVA 4
///////////////RITA MONTANER///////////////////
//DIAPOSITIVA 5
.imageAddonRm{
  position:absolute;
}
.mujerTitle1{
  /*font-family: 'Lora',serif;*/
  width: 20%;
  position: absolute;
  top: 8%;
  right: 45%;
  font-size: 50px;
  z-index: 990;
}
.texto2{
  /*font-family: 'Lora', serif;*/
  z-index: 997;
  color: #FFFFFF;
  font-size: $fontSizeBig;
  text-align: justify;
  position: absolute;
  width: 35%;
  background-color: rgba(33, 33, 33, 0.75);
  padding: 2% 1%;
}
.texto21{
  width: 30%;
  right: -100%;
  top: 15%;
}
.cita13{
  width: 80%;
  bottom: 10%;
  right: -100%;
}
.rm11{
  position: absolute;
  top:15%;
  right: -100%;
  height:35%;
  z-index: 990;
}
.rm12{
  position: absolute;
  top:10%;
  right: -100%;
  height:60%;
  z-index: 990;
}
.rm13{
  position: absolute;
  top: 40%;
  right: -100%;
  height: 25%;
  z-index: 990;
}
.rm1Video{
  position: absolute;
  top: 0;
  bottom: 10%;
  left: 10%;
  right: 0;
  margin: auto;
  z-index: 997;
  width: 30%;
  height: 30%;
  border-left: dotted 10px rgb(255, 216, 95);
  border-right: dotted 10px rgb(255, 216, 95);
}
.textAddonRm{
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  z-index: 997;
  color: rgba(255, 255, 255, 1);
  font-size: $fontSizeMedium;
}
.textRm1{
  width: 50%;
  bottom: 15%;
  right: 15%;
}
.citaAddonRm{
  position: absolute;
  font-family: 'Bowlby', cursive;
  font-style: italic;
  font-size:14px;
  z-index: 997;
  color: rgb(255, 216, 95);
}
.citaRm1{
  width: 30%;
  top: 15%;
  left: 5%;
}
.citaRm2{
  width: 30%;
  top: 40%;
  left: 5%;
}
.citaRm3{
  width: 30%;
  top: 60%;
  left: 5%;
}
.imageRm11{
  position: absolute;
  z-index: 997;
  top: 5%;
  right: 20%;
}
.imageRm12{
  position: absolute;
  z-index: 997;
  top: 10%;
  right: 5%;
}
//FIN DIAPOSITIVA 5
//DIAPOSITIVA 6
.ber1{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(165deg);
  -moz-transform: rotateY(165deg);
  -ms-transform: rotateY(165deg);
  -o-transform: rotateY(165deg);
  transform: rotateY(165deg);
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
.texto23{
  width: 30%;
  right: -100%;
  top: 70%;
}
.texto24{
  width: 30%;
  right: -100%;
  top: 70%;
}
.cita14{
  width: 40%;
  top: 20%;
  right: -100%;
}
.rm14{
  height: 15%;
  position: absolute;
  top: 5%;
  right: -100%;
  z-index: 990;
}
.rm21Video{
  position: absolute;
  top:30%;
  left: 10%;
  z-index: 991;
  width: 25%;
  height: 25%;
  border-left: dotted 10px rgb(255, 216, 95);
  border-right: dotted 10px rgb(255, 216, 95);
}
.rm22Video{
  position: absolute;
  top:65%;
  left: 10%;
  z-index: 991;
  width: 25%;
  height: 25%;
  border-left: dotted 10px rgb(255, 216, 95);
  border-right: dotted 10px rgb(255, 216, 95);
}
.textRm2{
  width: 40%;
  right: 10%;
  bottom: 40%;
}
.citaRm4{
  width: 50%;
  left: 10%;
  top: 10%;
}
.plusInfoProlPlus2{
  right: 0;
  left: 0;
  margin: auto;
  bottom:15%;
}
.plusInfoProlMinus2{
  right: 0;
  left: 0;
  margin: auto;
  bottom:15%;
}
//FIN DIAPOSITIVA 6
//DIAPOSITIVA 7
.holly1, .holly2, .holly3, .holly4{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  -webkit-transform: rotateX(165deg);
  -moz-transform: rotateX(165deg);
  -ms-transform: rotateX(165deg);
  -o-transform: rotateX(165deg);
  transform: rotateX(165deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.holly6{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 110%;
  left: 0;
}
.holly7{
  width: 100%;
  height: 100%;
  position: absolute;
  top: -110%;
  left: 0;
}
.holly5{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  opacity: 0;
}
.rm7Group{
  position: absolute;
  top:10%;
  left:5%;
  width: 50%;
  height:45%;
  z-index: 990;
}
.texto25{
  width: 30%;
  right: -110%;
  top: 10%;
}
.texto26{
   width: 30%;
   right: -110%;
   top: 35%;
 }
.rm15{
  height: 40%;
  position: absolute;
  top: 5%;
  right: -110%;
}
.rm16{
  height: 30%;
  position: absolute;
  top: 20%;
  right: -110%;
}
.rm17{
  height: 40%;
  position: absolute;
  top: 5%;
  right: -110%;
}
.rm18{
  height: 50%;
  position: absolute;
  top: 40%;
  right: -110%;
}
.rm31Video{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 991;
  width: 20%;
  height: 20%;
  border-left: dotted 10px rgb(255, 216, 95);
  border-right: dotted 10px rgb(255, 216, 95);
}
.rm32Video{
  position: absolute;
  bottom: 40%;
  right: 10%;
  z-index: 991;
  width: 20%;
  height: 20%;
  border-left: dotted 10px rgb(255, 216, 95);
  border-right: dotted 10px rgb(255, 216, 95);
}
.rm33Video{
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 991;
  width: 20%;
  height: 20%;
  border-left: dotted 10px rgb(255, 216, 95);
  border-right: dotted 10px rgb(255, 216, 95);
}
.textRm3{
  width: 40%;
  right: 10%;
  top: 10%;
}
.citaRm5{
  width: 40%;
  left: 5%;
  bottom: 10%;
}
.imageRm1{
  width: 15%;
  top: 15%;
  left: 5%;
}
.imageRm2{
  width: 15%;
  top: 15%;
  left: 20%;
}
.citaRm6{
  width: 40%;
  left: 5%;
  top: 5%;
}
.citaRm7{
  width: 40%;
  right: 5%;
  top: 30%;
}
.citaRm8{
  width: 40%;
  left: 5%;
  top: 45%;
}
.citaRm9{
  width: 40%;
  right: 5%;
  top: 5%;
}
.citaRm10{
  width: 40%;
  left: 5%;
  top: 20%;
}
.citaRm11{
  width: 40%;
  right: 5%;
  top: 45%;
}
//FIN DIAPOSITIVA 7
// DIAPOSITIVA 8
.citaAddonCc{
  position: absolute;
  font-family: 'Bowlby', cursive;
  font-style: italic;
  font-size:14px;
  z-index: 997;
  color: rgb(255, 216, 95);
}
.textAddonCc{
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  z-index: 997;
  color: rgba(255, 255, 255, 1);
  font-size: $fontSizeMedium;
}
.carn1{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(165deg);
  -moz-transform: rotateY(165deg);
  -ms-transform: rotateY(165deg);
  -o-transform: rotateY(165deg);
  transform: rotateY(165deg);
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
.mujerTitle2{
  /*font-family: 'Lora',serif;*/
  width: 20%;
  position: absolute;
  bottom: 20%;
  right: 10%;
  font-size: 50px;
  z-index: 990;
}
.texto3{
  /*font-family: 'Lora', serif;*/
  z-index: 997;
  color: #FFFFFF;
  font-size: $fontSizeBig;
  text-align: justify;
  position: absolute;
  width: 35%;
  background-color: rgba(33, 33, 33, 0.75);
  padding: 2% 1%;
}
.texto31{
  right: -110%;
  bottom:20%;
  z-index: 990;
}
.texto32{
  right: 10%;
  top:40%;
}
.texto35{
  right: 10%;
  top:30%;
}
.texto36{
  right: 10%;
  top:40%;
}
.texto38{
  right: 10%;
  top:40%;
}
.cita3{
  position: absolute;
  font-family: 'Lora',serif;
  font-style: italic;
  z-index: 997;
  width: 30%;
  color: #2f220f;
  font-size: $fontSizeMedium;
}
.cita31{
  bottom:20%;
  right: 10%;
}
.cc31{
  position: absolute;
  top:10%;
  right:-110%;
  height: 40%;
  z-index: 990;
}
.cc32{
  position: absolute;
  top:35%;
  right:-110%;
  height: 40%;
  z-index: 990;
}
.citaCc1{
  width: 40%;
  left: 5%;
  top: 5%;
}
.citaCc2{
  width: 40%;
  left: 5%;
  top: 20%;
}
.citaCc3{
  width: 40%;
  left: 5%;
  top: 50%;
}
.citaCc4{
  width: 40%;
  right: 5%;
  top: 5%;
}
.textCc1{
  width: 45%;
  right: 5%;
  top: 45%;
}
//FIN DIAPOSITIVA 8
// DIAPOSITIVA 9
.texto33{
  right: -110%;
  top:10%;
}
.texto34{
  right: -110%;
  top:30%;
}
.cc33{
  position: absolute;
  top:-110%;
  left:5%;
  height: 15%;
  z-index: 990;
  cursor: pointer;
}
.cc34{
  position: absolute;
  top:-110%;
  left:13%;
  height: 15%;
  z-index: 990;
  cursor: pointer;
}
.cc35{
  position: absolute;
  top:-110%;
  left:20%;
  height: 15%;
  z-index: 990;
  cursor: pointer;
}
.cc36{
  position: absolute;
  top:-110%;
  left:30%;
  height: 15%;
  z-index: 990;
  cursor: pointer;
}
.cc37{
  position: absolute;
  top:-110%;
  left:35%;
  height: 15%;
  z-index: 990;
  cursor: pointer;
}
.cc38{
  position: absolute;
  top:-110%;
  left:42%;
  height: 15%;
  z-index: 990;
  cursor: pointer;
}
.cc39{
  position: absolute;
  top:-110%;
  left:10%;
  height: 40%;
  z-index: 990;
}
.cc391{
  position: absolute;
  top:20%;
  left:30%;
  height: 40%;
}
.cc392{
  position: absolute;
  top:50%;
  left:50%;
  height: 30%;
}
.cc21Video{
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 991;
  width: 20%;
  height: 20%;
}
.cc22Video{
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 991;
  width: 20%;
  height: 20%;
}
.cc23Video{
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 991;
  width: 20%;
  height: 20%;
}
// FIN DIAPOSITIVA 9
// DIAPOSITIVA 10
.ContainercuaAEEUU{
  position: absolute;
  width: 40%;
  height: 55%;
  top: 30%;
  left: 10%;
  overflow: hidden;
  z-index:990;
}
.mapCubaEEUU{
  width: 600%;
  margin-top: -95%;
  margin-left: -80%;
}
.texto37{
  right: 10%;
  top:5%;
  width: 40%;
}
.cc31Video{
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index:991;
  width: 20%;
  height: 20%;
}
.cc32Video{
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 991;
  width: 20%;
  height: 20%;
}
//FIN DIAPOSITIVA 10
// DIAPOSITIVA 11
.chi1{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(165deg);
  -moz-transform: rotateY(165deg);
  -ms-transform: rotateY(165deg);
  -o-transform: rotateY(165deg);
  transform: rotateY(165deg);
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
.mujerTitle3{
  /*font-family: 'Lora',serif;*/
  width: 20%;
  position: absolute;
  bottom: 20%;
  left: 10%;
  font-size: 50px;
  z-index: 990;
}
.lorraine{
  font-family: 'Great Vibes', cursive;
  width: 20%;
  color: #ffd85f;
  position: absolute;
  top: 5%;
  right: -110%;
  font-size: 200px;
  z-index: 990;
}
.texto4{
  /*font-family: 'Lora',serif;*/
  z-index: 997;
  color: #f5f5f5;
  font-size: $fontSizeBig;
  text-align: justify;
  position: absolute;
  width: 35%;
  background-color: rgba(33, 33, 33, 0.75);
  padding: 2% 1%;
}
.texto41{
  right: -110%;
  top: 20%;
  width: 20%;
}
.la1{
  position: absolute;
  height: 60%;
  bottom:15%;
  right: 30%;
}
.la2{
  position: absolute;
  height: 30%;
  bottom:18%;
  right: 12%;
}
.la3{
  position: absolute;
  height: 45%;
  top: 15%;
  right: -110%;
}
.la5{
  position: absolute;
  height: 100%;
  top:0%;
  left: 0%;
  opacity: 0.6;
}
//FIN DIAPOSITIVA 11
// DIAPOSITIVA 12
.texto42{
  right: -110%;
  bottom: 10%;
  width: 45%;
}
.cita4{
  position: absolute;
  font-family: 'Dancing Script', cursive;
  font-style: italic;
  z-index: 997;
  color: #150f08;
  font-size: 35px;
  background-color: rgba(255, 255, 255, 0.70);
  padding: 2% 3%;
}
.cita41{
  top:5%;
  right: 5%;
  width: 80%;
}
.cita42{
  top: 5%;
  right: -110%;
  width: 80%;
}
.la4{
  position: absolute;
  width: 17%;
  bottom: 15%;
  right: -110%;
}
.la21Video{
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 991;
  width: 20%;
  height: 20%;
}
.la22Video{
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 991;
  width: 20%;
  height: 20%;
}
//FIN DIAPOSITIVA 12
// DIAPOSITIVA 13
.texto43{
  right: -110%;
  bottom: 30%;
  width: 55%;
}
.texto44{
  right: -110%;
  bottom: 15%;
  width: 55%;
}
.texto45{
  right:10%;
  top:30%;
}
.la6{
  position: absolute;
  height: 30%;
  left: 62%;
  bottom: -110%;
  transform: rotate(25deg);
}
.la7{
  position: absolute;
  height: 30%;
  left: 15%;
  top: -110%;
  transform: rotate(-20deg);
 }
.la8{
  position: absolute;
  height: 25%;
  left: 53%;
  bottom: -110%;
  transform: rotate(6deg);
}

.la9{
  position: absolute;
  height: 20%;
  left: 32%;
  bottom: -110%;
  transform: rotate(-6deg);
}
.la31Video{
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 991;
  width: 20%;
  height: 20%;
}
.la32Video{
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 991;
  width: 20%;
  height: 20%;
}
//FIN DIAPOSITIVA 13
// DIAPOSITIVA 14
.lasv1{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  -webkit-transform: rotateY(165deg);
  -moz-transform: rotateY(165deg);
  -ms-transform: rotateY(165deg);
  -o-transform: rotateY(165deg);
  transform: rotateY(165deg);
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.mujerTitle4{
  /*font-family: 'Lora',serif;*/
  width: 20%;
  position: absolute;
  bottom: 28%;
  left: 35%;
  font-size: 50px;
  z-index: 990;
}
.cita5{
  position: absolute;
  font-family: 'Dancing Script', cursive;
  font-style: italic;
  z-index: 997;
  color: #150f08;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.70);
  padding: 2% 3%;
}
.cita51{
  top:150%;
  right: 5%;
  width: 75%;
}
.cita52{
  top: 150%;
  right: 10%;
  width: 75%;
}
.al1{
  position: absolute;
  top:150%;
  left: 5%;
  width: 27%;
}
.al2{
  position: absolute;
  bottom: 15%;
  right: 5%;
  width: 15%;
}
.al3{
  width: 15%;
}
.al4{
  width: 15%;
}
.texto5{
  /*font-family: 'Lora',serif;*/
  z-index: 997;
  color: #f5f5f5;
  font-size: $fontSizeBig;
  text-align: justify;
  position: absolute;
  width: 35%;
  background-color: rgba(33, 33, 33, 0.75);
  padding: 2% 1%;
}
.texto51{
  right: 55%;
  bottom: -110%;
}
.teLoDijoAdela{
  position: absolute;
  top: 150%;
  right: 10%;
  width: 35%;
  height: 40%;
  z-index: 990;
}
.al11Video{
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 991;
  width: 20%;
  height: 20%;
}
//FIN DIAPOSITIVA 14
// DIAPOSITIVA 15

.texto52{
  right: -110%;
  top:10%;
}
.texto53{
  left: 180%;
  bottom: 20%;
  width: 55%;
}
.texto54{
  right: 10%;
  top:30%;
}
.cita53{
  bottom: 15%;
  right: -110%;
}
.cita54{
  bottom: 25%;
  right: 5%;
}
.cita55{
  bottom: 35%;
  right: 5%;
}
.cita56{
  bottom: 45%;
  right: -110%;
}
.al3{
  position: absolute;
  width: 20%;
  top:25%;
  left: 0%;
}
.al4{
  position: absolute;
  width: 15%;
  bottom: 35%;
  right: -110%;
}
.al5{
  position: absolute;
  width: 20%;
  left: 40%;
  top: -110%;
}
.al6{
  position: absolute;
  width: 15%;
  top:48%;
  left: 2%;
}
.al7{
  position: absolute;
  width: 20%;
  left: 15%;
  top: -110%;
}
.al8{
  position: absolute;
  width: 15%;
  top:30%;
  left: 3%;
}
.al21Video{
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 991;
  width: 20%;
  height: 20%;
}
.al22Video{
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 991;
  width: 20%;
  height: 20%;
}
//FIN DIAPOSITIVA 15
// DIAPOSITIVA 16

.mujerTitle5{
  /*font-family: 'Lora',serif;*/
  width: 20%;
  position: absolute;
  bottom: 15%;
  left: 10%;
  font-size: 50px;
}
.texto6{
  /*font-family: 'Lora',serif;*/
  z-index: 997;
  color: #f5f5f5;
  font-size: $fontSizeBig;
  text-align: justify;
  position: absolute;
  width: 35%;
  background-color: rgba(33, 33, 33, 0.75);
  padding: 2% 1%;
}
.texto61{
  top: 10%;
  left: 25%;
  width: 55%;
}
.texto63{
  top: 10%;
  left: 60%;
  width: 55%;
  -webkit-transform: scale(0.01);
  -moz-transform: scale(0.01);
  -ms-transform: scale(0.01);
  -o-transform: scale(0.01);
  transform: scale(0.01);
}
.cita6{
  position: absolute;
  font-family: 'Dancing Script', cursive;
  font-style: italic;
  z-index: 997;
  color: #150f08;
  font-size: 35px;
  background-color: rgba(255, 255, 255, 0.70);
  padding: 2% 3%;
}
.cita61{
  left:0%;
  bottom:10%;
  width: 80%;
}
.cb01{
  position: absolute;
  width: 30%;
  top: 22%;
  left: 35%;
  z-index: 990;
}
.cb04{
  position: absolute;
  width: 15%;
  top: 25%;
  left: 70%;
  z-index: 990;
  -webkit-transform: scale(0.01);
  -moz-transform: scale(0.01);
  -ms-transform: scale(0.01);
  -o-transform: scale(0.01);
  transform: scale(0.01);
}
//FIN DIAPOSITIVA 16
// DIAPOSITIVA 17
.epilogoTitle{
  /*font-family: 'Lora',serif;*/
  width: 30%;
  position: absolute;
  bottom: 15%;
  left: 10%;
  font-size: 50px;
}
.texto62{
  width: 40%;
  top: 20%;
  left: 10%;
}
.cita62{
  width: 40%;
  top: 40%;
  left: 10%;
}
.cb06{
  position: absolute;
  width: 15%;
  right: 5%;
  top: 10%;
  transform: rotate(15deg);
}
.cb07{
  position: absolute;
  width: 11%;
  right: 25%;
  top: 20%;
  transform: rotate(-20deg);
 }
.cb08{
  position: absolute;
  width: 9%;
  right: 16%;
  top: 26%;
  transform: rotate(15deg);
}
.cb09{
  position: absolute;
  width: 10%;
  right: 15%;
  top: 43%;
  transform: rotate(-45deg);
}
.cb10{
  position: absolute;
  width: 11%;
  right: 20%;
  top: 13%;
  transform: rotate(55deg);
}
.cb21Video{
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 991;
  width: 20%;
  height: 20%;
}
.cb22Video{
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 991;
  width: 20%;
  height: 20%;
}
//FIN DIAPOSITIVA 17

.ep11Video{
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 991;
  width: 20%;
  height: 20%;
}
.ep12Video{
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 991;
  width: 20%;
  height: 20%;
}
.ep13Video{
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 991;
  width: 20%;
  height: 20%;
}
.ep14Video{
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 991;
  width: 20%;
  height: 20%;
}
.plusInfoCita{
  cursor: pointer;
  font-weight: bolder;
}
/* Responsive: Portrait tablets and up */
@media only screen and (max-width: 1600px) {
  .texto1, .texto2, .texto3, .texto4, .texto5, .texto6{ font-size: 12px; }
  .CitaAddonProl1{ font-size: 13px; }
  .cita1, .cita2, .cita3, .cita4, .cita5, .cita6 {font-size: 25px;}
  .mujerTitle1, .mujerTitle2,.mujerTitle3,.mujerTitle4,.mujerTitle5,.epilogoTitle{font-size: 30px;}
  .dinamycText {
    font-size: 45px;
    /*width: 760px;*/
  }
}
/* Menu Overlay */

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*background: rgba(153,204,51,0.9);*/
  background: rgba(255, 202, 36, 0.95);
  z-index: 10000;
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../images/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  cursor: pointer;
  z-index: 100;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  /*height: 60%;*/
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  /*margin: 0;*/
  display: inline-block;
  height: 100%;
  position: relative;
}
.overlay ul .nav-column{
  float: left;
  width: 50%;
  min-width: 400px;
}
.overlay ul li {
  display: block;
  height: 10%;
  height: calc(100% / 4);
  /*min-height: 60px;*/
}

.overlay ul li div {
  font-size: 32px;
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  padding: 10px 10px 10px 20px;
  text-align: left;
  cursor: pointer;
}
.overlay ul li div span {
  font-size: 15px;
  /*float: right;
  line-height: 40px;*/
}

.overlay ul li div:hover,
.overlay ul li div:focus {
  color: #f0f0f0;
  /*background: #111;*/
  background: rgb(216, 164, 0)
}

/* Effects */

.container {
  background: #111;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.container.overlay-open {
  /*-webkit-transform: scale(0.8);
  transform: scale(0.8);*/
}

.overlay-contentscale {
  visibility: hidden;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentscale.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
    height: calc(100% / 8);
  }
}

/* Tooltips in Timeline */

.tooltip {
  display: inline;
  position: relative;
  z-index: 999;
}

/* Trigger text */

.tooltip-item {

  cursor: pointer;

}

/* Gap filler */

.tooltip-item::after {
  content: '';
  position: absolute;
  width: 360px;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltip:hover .tooltip-item::after {
  pointer-events: auto;
}

/* Tooltip */

.tooltip-content {
  position: absolute;
  z-index: 9999;
  width: 130px;
  left: 50%;
  margin: 0 0 20px -65px;
  bottom: 100%;
  text-align: center;
  line-height: 1.4;
  box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
  background: rgba(255, 255, 255, 0);
  opacity: 0;
  cursor: default;
  pointer-events: none;
  border: 4px solid #fff;
  border-radius: 5px;
}

.tooltip-effect-1 .tooltip-content {
  -webkit-transform: translate3d(0,-10px,0);
  transform: translate3d(0,-10px,0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.tooltip-effect-2 .tooltip-content {
  -webkit-transform-origin: 50% calc(100% + 10px);
  transform-origin: 50% calc(100% + 10px);
  -webkit-transform: perspective(1000px) rotate3d(1,0,0,45deg);
  transform: perspective(1000px) rotate3d(1,0,0,45deg);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
}

.tooltip-effect-3 .tooltip-content {
  -webkit-transform: translate3d(0,10px,0) rotate3d(1,1,0,25deg);
  transform: translate3d(0,10px,0) rotate3d(1,1,0,25deg);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.tooltip-effect-4 .tooltip-content {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: scale3d(0.7,0.3,1);
  transform: scale3d(0.7,0.3,1);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
}

.tooltip-effect-5 .tooltip-content {
  width: 180px;
  margin-left: -90px;
  -webkit-transform-origin: 50% calc(100% + 6em);
  transform-origin: 50% calc(100% + 6em);
  -webkit-transform: rotate3d(0,0,1,15deg);
  transform: rotate3d(0,0,1,15deg);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  -webkit-transition-timing-function: ease, cubic-bezier(.17,.67,.4,1.39);
  transition-timing-function: ease, cubic-bezier(.17,.67,.4,1.39);
}

.tooltip:hover .tooltip-content, .tooltip.active {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
  transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}

.tooltip.tooltip-effect-2:hover .tooltip-content {
  -webkit-transform: perspective(1000px) rotate3d(1,0,0,0deg);
  transform: perspective(1000px) rotate3d(1,0,0,0deg);
}

/* Arrow */

.tooltip-content::after {
  content: '';
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #FFF;
  border-width: 10px;
  margin-left: -10px;
}

/* Tooltip content*/

.tooltip-content img {
  position: relative;
  height: 170px;
  display: block;
  float: left;
  margin-right: 1em;
}

.tooltip-text {
  font-size: .8em;
  line-height: 1;
  display: block;
  padding: .5em 0em .5em 0;
  color: #E2E2E2;
  background: rgba(51, 51, 51, 0.83);
}

.tooltip-effect-5 .tooltip-text {
  padding: 1.4em;
}

.tooltip-text a {
  font-weight: bold;
}


