
<section class="anec" id="anec1">

  <h4>Padre Xavier Cugat</h4>

  <blockquote class="bq2">
    <p>El meu pare era molt manyós i va arribar a inventar una sèrie de coses útils. Va ser el primer que va llançar els aparells d'acetilè que utilitzaven els pescadors de l'avui anomenada Costa Brava. Aquells aparells es posaven darrere de les barquetes perquè els peixos creguessin que era la llum de la lluna i quedaven atrapats en el seu propi engany</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Molt ficat en la política, feia discursos contra el govern. No oblidem, per comprendre la seva actitud, que havia fracassat la primera República espanyola i que s'havien perdut totes les colònies. El meu pare devia haver estat un republicà ardent contrari a la monarquia restablerta</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Al meu pare el van expulsar d'Espanya. No qui governava llavors, el 1904, però el meu pare hi estava en contra. Li varen donar 24 hores per marxar</p>
    <span class="source">-Programa de ràdio Club trèvol de Jordi Roura</span>
  </blockquote>

  <div class="gallery items-1">

    <figure class="item">
      <img src="/images/anecdotas/P1-Cugat-y-familiares.jpg" alt="" />
      <h1>Cugat (a l'esquerra), acompanyat d'alguns familiars.</h1>
    </figure>

  </div>

</section>

<section class="anec" id="anec2">
  <h4>Buque María Cristina</h4>

  <blockquote class="bq2">
    <p>El vapor Maria Cristina tenia primera, primera de primera, segona de preferència, tercera i tercera ordinària, i és en aquesta tercera ordinària on viatjavem tots. No teníem cabina sinó que dormíem a terra amb mantes en una gran nau i menjàvem uns vulgars 'ranxos'. És l'impacte que ha quedat permanent en el meu record d'aquell viatge que va ser realment dantesc. La tercera ordinària estava situada a la popa del vaixell, a sobre de l'hèlix: 45 dies amb la remor constant i el tremolor de l'aparell. La majoria de la gent estava malalta, marejada, vomitant el que havia menjat. La calor i l'olor eren espantosos</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <div class="gallery items-1">

    <figure class="item">
      <img src="" alt="" />
      <h1>El vapor Reina Mª Cristina</h1>
    </figure>

  </div>

</section>

<section class="anec" id="anec3">
  <h4>Casa López</h4>

  <p>
    L’any 1925, després del seu segon i últim concert al Carnegie Hall, els crítics de l'època li van reconèixer el seu talent musical, però no un futur primer lloc entre els grans intèrprets de la música clàssica com Jascha Heifetz o Mischa Elman. Llavors va decidir fer un canvi de rumb total a la seva carrera…
  </p>

  <blockquote class="bq2">
    <p>Però hi havia a la ciutat, en aquell temps, una gran orquestra dirigida per Vincent López que havia d'obrir les portes d'un club nocturn, titulat Casa López, i que va arribar a ser molt famós. Vicente em va oferir el lloc de primer violí.</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <p>
    El contracte a Casa López li va obrir les portes al fascinant món de Broadway d'aquells anys, la zona artística més dinàmica i brillant del món, contactes amb personatges de les altes esferes d'aquella complexa i rica societat que li obririen infinitat de camins.
  </p>

  <blockquote class="bq2">
    <p>És a Casa López on vaig conèixer un home de negocis català que adorava el jazz americà i que fins i tot tocava el saxofon alt. Es deia Ignasi Abadal. [...] Abadal era un comerciant d'antiguitats, un excel·lent conversador i un home nascut per vendre coses. Vaig aprofitar una oportunitat per confessar que, malgrat tot, no em sentia feliç en la meva professió de primer violinista en una sala indubtablement fastuosa, però que no era del meu gust</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <p>
    Abadal va ser qui va convèncer Cugat per fer el salt de la costa Est a la Oest dels Estats Units amb l'excusa de vendre a Los Angeles una sèrie d'antiguitats espanyoles.
    <br>
    Abadal havia de tornar a Barcelona i va proposar a Cugat com a intermediari per vendre els seus objectes, de manera que el jove Cugat aviat es va trobar instal·lat a la ciutat del cinema envoltat de quadres originals dels clàssics espanyols. Van assistir a la inauguració personalitats de la talla de Charles Chaplin o Douglas Fairbanks. Les caricatures de Cugat s'exposaven de pas en l'avantsala de l'exposició, per les quals es va interessar Charles Chaplin i el diari de la ciutat, “Los Angeles Times”, que li va proposar ser el seu caricaturista especialitzat en els personatges de Hollywood.
  </p>

</section>

<section class="anec" id="anec4">
  <h4>Charros, Gauchos y Manolas</h4>

  <p>
    L’any 1930, Cugat comença les seves primeres aventures com a director de cinema, primer amb el curt "Un fotógrafo distraído" i després amb el seu primer llargmetratge "Charros, gauchos y manolas".
  </p>

  <blockquote class="bq2">
    <p>Començava ja el capítol de les pel·lícules parlades. La Warner Brothers, llavors una modesta empresa, va fer un primer assaig amb la meva orquestra i amb un tenor del Metropolitan anomenat Giovanni Martinelli. Van ser només dos 'curts' d'una mitja hora. La filmació tenia de ser contínua, sense cap tall. Encara no existia el gravat en film sinó en disc. El 'curt' es va anomenar 'Xavier Cugat i els seus gigolós'. Puc dir que la primera pel·lícula sonora de la història del cinema porta imprès el meu nom i la meva orquestra</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Però va ser llavors, com va passar moltes vegades en la meva vida, quan em vaig adonar de la meva precipitació. Els cinemes hispanoamericans no posseïen encara els aparells necessaris per projectar films sonors. Vaig intentar enviar a les principals ciutats equips portàtils, però el resultat va ser molt mediocre. Diguem que, en definitiva, la meva primera aventura com a productor va ser un rotund fracàs</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <div class="gallery items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>

    <figure class="item">
      <img src="" alt="" />
      <h1>Fotograma de “Charros, gauchos y manolas” (Xavier Cugat, 1930)</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>Fotograma de “Charros, gauchos y manolas” (Xavier Cugat, 1930)</h1>
    </figure>

    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
    </div>
  </div>

</section>

<section class="anec" id="anec5">
  <h4>Dolores del Río</h4>
  <p>
    Cugat va conèixer Carmen quan la va confondre amb Dolores del Río, l'actriu mexicana, com ell mateix va reconèixer:
  </p>

  <blockquote class="bq2">
    <p>Vaig ser encarregat pel meu diari de fer una caricatura de la preciosa artista cinematogràfica mexicana, Dolores del Río, que interpretava llavors la pel·lícula 'Resurrecció'</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>
  <p>
    La sorpresa de Cugat va ser majúscula en adonar-se que la dona a la qual tant havia lloat no era Dolores del Río sinó la seva doble, Carmen Castillo. Cugat li va fer la caricatura i va pensar que era la dona més bonica i graciosa que havia conegut a la seva vida.
  </p>

  <div class="gallery items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>

    <figure class="item">
      <img src="/images/anecdotas/CC1-Cugat-y-Carmen01.jpg" alt="" />
      <h1>Xavier Cugat i Carmen Castillo, en un posat amb aromes clàssics.</h1>
    </figure>

    <figure class="item">
      <img src="/images/anecdotas/CC1-Carmen01.jpg" alt="" />
      <h1>Carmen Castillo.</h1>
    </figure>

    <figure class="item">
      <img src="/images/anecdotas/CC1-Carmen02.jpg" alt="" />
      <h1>Carmen Castillo amb el petit Lobo.</h1>
    </figure>

    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
      <a href="#item-3" class="control-button">•</a>
    </div>
  </div>

</section>

<section class="anec" id="anec6">
  <h4>Caricaturas en el LA Times</h4>

  <p>
    Cugat era aficionat a fer caricatures des de molt jove, ja en els seus primers anys a Nova York dibuixava les estrelles de Broadway de l'època. Quan Cugat va viatjar a Los Angeles per primera vegada, ho va fer com a intermediari d'un empresari català, Ignasi Abadal, que anava a muntar una exposició de pintura espanyola a una galeria de la ciutat californiana. Cugat va veure l'oportunitat i va col·locar diverses caricatures a l'avantsala de l'exposició. Aquell moment resultaria clau per a la futura carrera de Cugat, ja que no només va conèixer i va fer amistat amb un pes pesant de Hollywood com Charles Chaplin, sinó que li va permetre trobar feina com a caricaturista en el diari “Los Angeles Times”.
  </p>
  <p>
    Utilitzant el pseudònim de De Bru, el segon cognom del seu pare, durant aquesta època Cugat va fer caricatures a un ritme frenètic. A més d'il·lustrar peces informatives, les caricatures s'utilitzaven com a passatemps, ja que el nom del famós en qüestió era disposat en una pàgina oculta i els lectors havien d'endevinar quin era el personatge caricaturitzat.
  </p>
  <p>
    Posseïa les qualitats d'un bon caricaturista: capacitat d'observació per saber triar els trets essencials d'una persona, tant els físics com els psicològics, i descartar la resta.
  </p>

  <div class="gallery items-9">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>
    <div id="item-4" class="control-operator"></div>
    <div id="item-5" class="control-operator"></div>
    <div id="item-6" class="control-operator"></div>
    <div id="item-7" class="control-operator"></div>
    <div id="item-8" class="control-operator"></div>
    <div id="item-9" class="control-operator"></div>

    <figure class="item">
      <img src="/images/anecdotas/Caricatura01.jpg" alt="" />
      <h1>Caricatures de Xavier Cugat.</h1>
    </figure>
    <figure class="item">
      <img src="/images/anecdotas/Caricatura02.jpg" alt="" />
      <h1>Caricatures de Xavier Cugat.</h1>
    </figure>
    <figure class="item">
      <img src="/images/anecdotas/Caricatura03.jpg" alt="" />
      <h1>Caricatures de Xavier Cugat.</h1>
    </figure>
    <figure class="item">
      <img src="/images/anecdotas/Caricatura04.jpg" alt="" />
      <h1>Caricatures de Xavier Cugat.</h1>
    </figure>
    <figure class="item">
      <img src="/images/anecdotas/Caricatura05.jpg" alt="" />
      <h1>Caricatures de Xavier Cugat.</h1>
    </figure>
    <figure class="item">
      <img src="/images/anecdotas/Caricatura06.jpg" alt="" />
      <h1>Caricatures de Xavier Cugat.</h1>
    </figure>
    <figure class="item">
      <img src="/images/anecdotas/Caricatura07.jpg" alt="" />
      <h1>Caricatures de Xavier Cugat.</h1>
    </figure>
    <figure class="item">
      <img src="/images/anecdotas/Caricatura08.jpg" alt="" />
      <h1>Caricatures de Xavier Cugat.</h1>
    </figure>
    <figure class="item">
      <img src="/images/anecdotas/Caricatura09.jpg" alt="" />
      <h1>Caricatures de Xavier Cugat.</h1>
    </figure>

    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
      <a href="#item-3" class="control-button">•</a>
      <a href="#item-4" class="control-button">•</a>
      <a href="#item-5" class="control-button">•</a>
      <a href="#item-6" class="control-button">•</a>
      <a href="#item-7" class="control-button">•</a>
      <a href="#item-8" class="control-button">•</a>
      <a href="#item-9" class="control-button">•</a>
    </div>
  </div>

</section>

<section class="anec" id="anec7">
  <h4>Presidentes de EE UU</h4>

  <p>
    A partir de 1929 va començar amb una afició que va durar 70 anys: aconseguir fotografies signades per tots els presidents dels Estats Units: Herbert Hoover, Harry Truman, Dwight Eisenhower, John Fitzgerald Kennedy, Lyndon B. Johnson, Richard Nixon, Gerald Ford i Ronald Reagan.
  </p>
  <p>
    La tàctica per aconseguir aquestes dedicatòries era fer-los una acolorida caricatura i els hi enviava dedicades, i els demanava a canvi una senzilla fotografia amb una dedicatòria.
  </p>
  <p>
    Particularment curiosa va resultar la seva relació amb el president Truman, que tocava força bé el piano. Durant el seu mandat, Cugat va visitar diverses vegades la Casa Blanca i el president sempre li demanava que portés el Chihuahua a qui Cugat havia ensenyat a tocar el piano.
  </p>

  <blockquote class="bq2">
    <p>Durant l'època de Nixon a la Casa Blanca, es va donar un sopar de gala al llavors príncep Joan Carles, actualment rei d'Espanya. Després de l'ambaixador espanyol, jo era el convidat més important i va passar un fet molt afalagador i molt típic del temperament nord-americà: Nixon em va agafar de la mà, em va conduir cap al príncep Carles i em va dir: 'Here is our Cugi'; aquí està el nostre Cugat</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <div class="gallery items-9">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>
    <div id="item-4" class="control-operator"></div>
    <div id="item-5" class="control-operator"></div>
    <div id="item-6" class="control-operator"></div>
    <div id="item-7" class="control-operator"></div>
    <div id="item-8" class="control-operator"></div>
    <div id="item-9" class="control-operator"></div>

    <figure class="item">
      <img src="/images/anecdotas/BNC_037_Album2_presidentes.jpg" alt="" />
      <h1>Herbert Hoover</h1>
    </figure>
    <figure class="item">
      <img src="/images/anecdotas/BNC_038_Album2_presidentes.jpg" alt="" />
      <h1>Harry S. Truman</h1>
    </figure>
    <figure class="item">
      <img src="/images/anecdotas/BNC_036_Album2_presidentes.jpg" alt="" />
      <h1>Dwight D. Eisenhower</h1>
    </figure>
    <figure class="item">
      <img src="/images/anecdotas/BNC_040_Album2_presidentes.jpg" alt="" />
      <h1>John F. Kennedy</h1>
    </figure>
    <figure class="item">
      <img src="/images/anecdotas/BNC_039_Album2_presidentes.jpg" alt="" />
      <h1>Lyndon B. Johnson.</h1>
    </figure>
    <figure class="item">
      <img src="/images/anecdotas/BNC_042_Album2_presidentes.jpg" alt="" />
      <h1>Richard Nixon.</h1>
    </figure>
    <figure class="item">
      <img src="/images/anecdotas/BNC_056_Album2_presidentes.jpg" alt="" />
      <h1>Gerald Ford.</h1>
    </figure>
    <figure class="item">
      <img src="/images/anecdotas/BNC_041_Album2_presidentes.jpg" alt="" />
      <h1>Gerald Ford.</h1>
    </figure>
    <figure class="item">
      <img src="/images/anecdotas/BNC_033_Album2_Cugat pipa_Enrique Sabater.jpg" alt="" />
      <h1>Cugat posa amb la seva col·lecció de dedicatòries dels presidents dels EUA.</h1>
    </figure>

    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
      <a href="#item-3" class="control-button">•</a>
      <a href="#item-4" class="control-button">•</a>
      <a href="#item-5" class="control-button">•</a>
      <a href="#item-6" class="control-button">•</a>
      <a href="#item-7" class="control-button">•</a>
      <a href="#item-8" class="control-button">•</a>
      <a href="#item-9" class="control-button">•</a>
    </div>
  </div>

</section>

<!-- Desde aquí... -->
<section class="anec" id="anec8">
  <h4>Padre Xavier Cugat</h4>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <p>

  </p>

  <div class="gallery items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>

    <figure class="item">
      <img src="" alt="" />
      <h1>1</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>2</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>3</h1>
    </figure>

    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
      <a href="#item-3" class="control-button">•</a>
    </div>
  </div>

</section>

<section class="anec" id="anec9">
  <h4>Padre Xavier Cugat</h4>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <p>

  </p>

  <div class="gallery items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>

    <figure class="item">
      <img src="" alt="" />
      <h1>1</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>2</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>3</h1>
    </figure>

    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
      <a href="#item-3" class="control-button">•</a>
    </div>
  </div>

</section>

<section class="anec" id="anec10">
  <h4>Padre Xavier Cugat</h4>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <p>

  </p>

  <div class="gallery items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>

    <figure class="item">
      <img src="" alt="" />
      <h1>1</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>2</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>3</h1>
    </figure>

    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
      <a href="#item-3" class="control-button">•</a>
    </div>
  </div>

</section>

<section class="anec" id="anec11">
  <h4>Padre Xavier Cugat</h4>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <p>

  </p>

  <div class="gallery items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>

    <figure class="item">
      <img src="" alt="" />
      <h1>1</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>2</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>3</h1>
    </figure>

    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
      <a href="#item-3" class="control-button">•</a>
    </div>
  </div>

</section>

<section class="anec" id="anec12">
  <h4>Padre Xavier Cugat</h4>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <p>

  </p>

  <div class="gallery items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>

    <figure class="item">
      <img src="" alt="" />
      <h1>1</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>2</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>3</h1>
    </figure>

    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
      <a href="#item-3" class="control-button">•</a>
    </div>
  </div>

</section>

<section class="anec" id="anec13">
  <h4>Padre Xavier Cugat</h4>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <p>

  </p>

  <div class="gallery items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>

    <figure class="item">
      <img src="" alt="" />
      <h1>1</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>2</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>3</h1>
    </figure>

    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
      <a href="#item-3" class="control-button">•</a>
    </div>
  </div>

</section>

<section class="anec" id="anec14">
  <h4>Padre Xavier Cugat</h4>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <p>

  </p>

  <div class="gallery items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>

    <figure class="item">
      <img src="" alt="" />
      <h1>1</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>2</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>3</h1>
    </figure>

    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
      <a href="#item-3" class="control-button">•</a>
    </div>
  </div>

</section>

<section class="anec" id="anec15">
  <h4>Padre Xavier Cugat</h4>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <p>

  </p>

  <div class="gallery items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>

    <figure class="item">
      <img src="" alt="" />
      <h1>1</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>2</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>3</h1>
    </figure>

    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
      <a href="#item-3" class="control-button">•</a>
    </div>
  </div>

</section>

<section class="anec" id="anec16">
  <h4>Padre Xavier Cugat</h4>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <p>

  </p>

  <div class="gallery items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>

    <figure class="item">
      <img src="" alt="" />
      <h1>1</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>2</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>3</h1>
    </figure>

    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
      <a href="#item-3" class="control-button">•</a>
    </div>
  </div>

</section>

<section class="anec" id="anec17">
  <h4>Padre Xavier Cugat</h4>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <p>

  </p>

  <div class="gallery items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>

    <figure class="item">
      <img src="" alt="" />
      <h1>1</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>2</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>3</h1>
    </figure>

    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
      <a href="#item-3" class="control-button">•</a>
    </div>
  </div>

</section>

<section class="anec" id="anec18">
  <h4>Padre Xavier Cugat</h4>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <p>

  </p>

  <div class="gallery items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>

    <figure class="item">
      <img src="" alt="" />
      <h1>1</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>2</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>3</h1>
    </figure>

    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
      <a href="#item-3" class="control-button">•</a>
    </div>
  </div>

</section>

<section class="anec" id="anec19">
  <h4>Padre Xavier Cugat</h4>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <blockquote class="bq2">
    <p>Well, I will tell you this, Michael. I don't have a son. But if I ever do, I'm either going to take him to the cabin in the woods, or I'm going to promise to take him and then not take him. But the one thing that I will never do is not tell him that I'm taking him to a cabin in the woods, and then not take him!</p>
    <span class="source">-Yo Cugat. Mis primeros ochenta años (1981)</span>
  </blockquote>

  <p>

  </p>

  <div class="gallery items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>

    <figure class="item">
      <img src="" alt="" />
      <h1>1</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>2</h1>
    </figure>

    <figure class="item">
      <img src="" alt="" />
      <h1>3</h1>
    </figure>

    <div class="controls">
      <a href="#item-1" class="control-button">•</a>
      <a href="#item-2" class="control-button">•</a>
      <a href="#item-3" class="control-button">•</a>
    </div>
  </div>

</section>
