
<section class="credits" id="credits">

<h5>"Sexe, Maraques i Chihuahues - interactiu"</h5>

<dl class="creditos">

<dt>Una producció de:</dt>
<dd class="produccio">
<a href="http://www.minimalfilms.com/" target="_blank"><img src="images/logos/minimal-films.png" alt="" /></a>
<a href="http://www.ccma.cat/tv3/" target="_blank"><img src="images/logos/tv3.png" alt="" /></a>
<a href="http://www.rtve.es/television/" target="_blank"><img src="images/logos/tve.png" alt="" /></a>
</dd>

<dt>Productor</dt>
<dd>Albert Solé</dd>

<dt>Producció Executiva</dt>
<dd>Gemma Rodríguez</dd>

<dt>Director i Guionista del documental lineal</dt>
<dd>Diego Mas</dd>

<dt>Direcció executiva TV3</dt>
<dd>Ferran Clavell</dd>
<dd>Manel Raya</dd>

<dt>Producció executiva TV3</dt>
<dd>Muntsa Tarrés</dd>

<dt>Direcció creativa, Guió, Disseny, UI/UX i Execució</dt>
<dd>Labyrinz Storymaking Studio<br>
<a href="http://labyrinz.es/" target="_blank"><img src="images/logos/labyrinz.png" alt=""  class="logo-small"/></a>
</dd>

<dt>Coordinació, Guió i Documentació</dt>
<dd>Arnau Gifreu Castells</dd>

<dt>Il·lustracions</dt>
<dd>Molstudio<br>
<a href="http://molstudio.es/" target="_blank"><img src="images/logos/molstudio.png" alt="" class="logo-small"/></a>
</dd>

<dt>Web developer i Animacions</dt>
<dd>Sergio Santamaria</dd>
<br>
</dl>

<dl class="">

<dt>Amb el suport de:</dt>
<dd class="logos-credits">
  <img src="images/logos/ace.png" alt="" />
  <img src="images/logos/icaa.jpg" alt="" />
  <img src="images/logos/generalitat.png" alt="" />
  <img src="images/logos/media.png" alt="" />
</dd>

<dt>Amb el patrocini de:</dt>
<dd class="logos-credits">
  <img src="images/logos/girona.png" alt="" />
  <img src="images/logos/any-cugat.png" alt="" />
  <img src="images/logos/diputacio.png" alt="" />
</dd>
</dl>

<footer>
&copy; Minimal Films, SL i la Corporació Catalana de Mitjans Audiovisuals, SA 2016
</footer>

<br><br>

<h5>ARXIU:</h5>

TV3 DEPARTAMENT DE DOCUMENTACIÓ<br>
RTVE SERVICIO DE DOCUMENTACIÓN<br>
CATALUNYA RÀDIO<br>
WARNER BROS. ENTERTAINMENT INC.<br>
VIDEOMERCURY/EGEDA<br>
FRAMEPOOL<br>
HUNTLEY ARCHIVES<br>
PRODUCER’S LIBRARY<br>
GETTY IMAGES<br>
CORBIS MOTION<br>
CLIPS &amp; FOOTAGE<br>
WPA FIM LIBRARY<br>
TV GIRONA<br>
CENTRE DE RECERCA I DIFUSIÓ DE LA IMATGE (CRDI)<br>
RETRO FILM VAULT<br>
FILM ARCHIVES<br>
HISTORIC FILMS<br>
CRITICAL PAST<br>
BUYOUT FOOTAGE<br>
BIBLIOTECA NACIONAL DE CATALUNYA<br>
WALDORF ASTORIA HOTEL<br>
ACADEMY OF MOTION PICTURE ARTS AND SCIENCES<br>
COLECCIÓ EDUARD FORNÉS<br>
COLECCIÓ GUILLERMO ESCRIGAS<br>
COLECCIÓ JOANA BIARNÉS<br>
COLECCIÓ CARLOS PÉREZ DE ROZAS<br>
COLECCIÓ ALEX ZARA<br>
WIKIPEDIA<br>


<h5>MÚSICA:</h5>
<dl class="music">

<dt>BEGUIN THE BEGUINE</dt>
<dd>COLE PORTER</dd>
<dd>WB MUSIC CORP.</dd>

<dt>BIM BAM BUM</dt>
<dd>JOHNIE CAMACHO, NORO MORALES, HAROLD ADAMSON</dd>
<dd>EMI ROBBINS CATALOG INC.</dd>

<dt>JUNGLE RHUMBA</dt>
<dd>TONI BEAULIEU</dd>
<dd>UNIVERSAL MUSIC</dd>

<dt>YO TE AMO MUCHO</dt>
<dd>STEPT, DRAKE, CUGAT, ALGUERO</dd>
<dd>BOURNE CO.</dd>

<dt>TABÚ</dt>
<dd>MARGARITA LECUONA</dd>
<dd>PEER INTERNATIONAL CORP.</dd>

<dt>PARA VIGO ME VOY</dt>
<dd>ERNESTO LECUONA</dd>
<dd>EDWARD MARKS MUSIC COMPANY</dd>

<dt>PERFIDIA</dt>
<dd>ALBERTO DOMINGUEZ</dd>
<dd>PEER INTERNATIONAL CORP.</dd>

<dt>MY SHAWL</dt>
<dd>STANLEY ADAMS, XAVIER CUGAT</dd>
<dd>EMI MUSIC PUBLISHING LTD.</dd>

<dt>SIBONEY</dt>
<dd>ERNESTO LECUONA</dd>
<dd>EMI FEIST CATALOG INC.</dd>

<dt>EL MANISERO</dt>
<dd>MOISÉS SIMONS</dd>
<dd>EMI MUSIC PUBLISHING LTD.</dd>

</dl>

</section>
