
<section class="credits" id="credits">

<h5>Una producció de Minimal Films i TV3</h5>

<dl class="creditos">

<dt>Producció executiva</dt>
<dd>Albert Solé</dd>

<dt>Direcció executiva TVC</dt>
<dd>Manel Raya</dd>
<dd>Ferran Clavell</dd>

<dt>Producció executiva TVC</dt>
<dd>Muntsa Tarrés</dd>

</dl>

<h5>"Sexe, maraques i chihuahues - interactivo"</h5>

<dl>

<dt>Dirección creativa, guión, diseño, UI/UX y ejecución:</dt>
<dd>Labyrinz Storymaking Studio (logo con link)</dd>

<dt>Coordinación, guión y documentación:</dt>
<dd>Arnau Gifreu Castells (link a alguna web?)</dd>

<dt>Ilustraciones:</dt>
<dd>Molstudio (logo con link)</dd>

<dt>Web developer y animaciones:</dt>
<dd>Sergio Santamaria</dd>

</dl>

<footer>
  &copy; Minimal Films, SL i la Corporació Catalana de Mitjans Audiovisuals, SA  2016
</footer>

</section>
