<div class="BackVideo">
  <video class="videoClass" autoplay onloadstart="this.volume=0.5">
    <source src="images/Walking.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div id="skip" class="skipVideo"> Skip </div>
</div>
<!--<img class="scrollIcon" src="images/scroll.png"/>-->
<div id="mapIcon" class="mapIcon">
  <img class="mapItem" src="images/map.svg"/>
</div>
<div id="mapContainer" class="mapaDMini">
  <img id="arrowClose" class="arrowLeft" src="images/arrow-left.svg"/>
</div>
<!--<div id="menu" class="menuMainBox">-->
  <!--<div id="itemGroupBox" class="itemGroupBox">-->
    <!--<div class="menuItemBox menu1">Referencias</div>-->
    <!--<div class="menuItemBox menu2">Documental</div>-->
    <!--<div class="menuItemBox menu3">About</div>-->
    <!--<div class="menuItemBox menu4">Creditos</div>-->
    <!--<div class="menuItemBox menu5">Participa</div>-->
  <!--</div>-->
<!--</div>-->
<img class="gironaMap" src="images/girona-mapBN.png"/>
<div class="">
  <div>
    <!--EPISODE 0-->
    <div id="page0" class="back color3 page0">
      <div class="dinamycText" id="quote">
        SEXE, MARAQUES I CHIHUAHUES - La increíble vida de Xavier Cugat
      </div>
      <div class="instructions">
        <img class="infoIcon" src="images/infoIcon.svg"/>
        <div class="instructionsText">"Abre el mapa y selecctiona un capitulo o haz scroll down para avanzar"</div>
      </div>
      <div class="svgFace">
        <svg version="1.1" id="FirstFace" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
             y="0px" width="308.7px" height="419px" viewBox="0 0 308.7 419" enable-background="new 0 0 308.7 419" xml:space="preserve">
              <g class="faceSvgClass">
                <path fill="none" stroke="#ffd85f" d="M48.3,296.4c9.5,2.5,15.2,37.9,23.4,46.5c5.7,6,33.7,41.2,40.9,21.6c6.5,5.4,19.7,1.3,28-0.4
                  c6-1.2,22.4-3.5,27.4-10.3c2.9-4,19.6-13.2,24.1-14.3c9.3-2.3,9.7-6.7,15.3-12.4c1.4,0.9,2.1,2.1,2.1,3.7
                  c3.6-14.9,20.8-32.7,14.8-51.3c-6.3,13.7-9.6-3.3-9.1-8.4c0.7-7.8-4.4-10.6,2.9-16.7c-1.6-1.5-3.2-3-4.9-4.5
                  c13-6,16.4-28.5,20.7-40.8c4.2-11.9,10.7-20,1.1-31.5c-5.3-6.4-4.5-16.4-14.1-20.7c0.8,3.4-0.4,4.6-3.6,3.5
                  c1.9-5.9,3.6-12.6,3.6-18.9c-3.6,2.6-12.1-5.7-4.8-10.7c-1-2.7-8.9-0.3-11.2,0c1.9-2.4,6.5-1.3,5.6-5.8c-3.4,3-5.4,3.3-6,0.9
                  c18-7.9,8.2-21.1,11.1-31.7c1.4,0.1,1.7,1.1,0.8,2.9c3.1-4.7-1.1-14-2.4-18.4c0,14.8-1.5,4.5-2.4,0.4c-2.6,0-4.8,11.9-8.8,11.5
                  c-0.1-2.5-0.2-22.1-1.6-6.7c-1.2-4.3-2.5-8.7-3.7-13c-4.9,3.6-27.7-25.3-24.9,1.5c-2.7,1-4.6,0.1-5.6-2.7c-5.8,7.7-6,6.2-13.9-0.2
                  c-0.7,0.7,5.2,8.8,5.9,10c-2.3,3.2-11.2-1.4-13-3.6c-0.6,4.5-2.9,5.8-6.9,3.9c0.8,12.5,10.7,13.3,17.8,21.1
                  c-4.3-0.2-13.2-4.7-6.4,3.1c-7-2-13-5-17.3,2.1c-1.8-4.1-29.2-19-32.9-17.6c12.4,15.7,1.7,13.3-10.1,7.5c1.7,3.8,4.1,7.2,7.1,10.1
                  c-5.5-2.5-10.9-6.6-15.5-10.6c-4.4-3.8-11.5-20.6-14-20.8c0,4.5-2,7.5-6,9.2c-2.1-1.6-3-3.9-2.6-6.8c-19.8,9.5-27,42.7-26,61.6
                  c0.7,12.1-8.4,43.3,8.7,38.6c14.3-3.9,26.6-0.1,40.3,4.5c-4.1,4.5,15,9.6,10.7,20.6c-2-2.2-4.3-2.8-7.1-1.7c5.8,5-3,3.6,4.6,5.4
                  c-4.1,1.2-7.8,1.7-9.7-3.2c-3.1,2.8-1.4,5-6.5,5.7c-20.1,2.9-6.2-4.2-17.2-9c-4.5-2-8.2,13.3-8.3,13.6c2.4,0.6,4.7,1.7,6.7,3.1
                  c0.2,8.6-21-13.6-22.9-9.1c-1.8-0.9-7.7-18.6-7-21.6c2.5-10.6-6-12.8-7.5-21c-4-21.2-5.5-30.3,0.8-52.3
                  c4.8-16.5,9.5-34.3,17.7-49.2c-10.2,3.4,0.2-9.8,2.8-11.4C50,45.6,60.1,38.7,73.1,40.7c7.4,1.2,18.2-9.4,24.1-12.6
                  c11.7-6.4,17.7-12.4,31.9-13.6c9.7-0.8,21.8,6.3,30.8,1.9c9.4-4.6,18.8-1.7,28.5-0.5c19.4,2.4,23.5,12.4,38.4,21.6
                  c14.2,8.7,39.9,7.3,39.1,31.3c-0.1,4.5,5.9,16.3,8.9,20c7.7,9.3,9,17,11.2,28.9c1.8,9.8-11,34.6-3.3,42c-0.9-0.8,3.5,13.7,4.1,14.8
                  c2.1,4.5-3,19.2-3.7,25c1.4,0.7,2.2-0.2,2.4-2.6c-1.2,9.5-0.2,20-2.6,29.2c-2.3,9.4-12.7,13.9-15.8,24.3
                  c-5.6,19-2.4,47.4-16.5,62.4c-26.1,27.7-66.6,78.5-109.5,71c3.6-0.3,31.1-1.3,22.2-6c13.5-3.4-22.2,4.7-25.4,5.2
                  c-17.3,2.5-27.6,2.4-42.9-7.3C66.3,357.2,59.6,325.2,48.3,296.4z M45.8,188.1c2.4,1,4.2,0.4,5.5-1.9c-7.3-1.8-4.3,4.5-7.3-1.8
                  c1,2-0.1,2.8-3.3,2.7C42.3,188.1,44,188.4,45.8,188.1C48.7,190.8,45.2,188.2,45.8,188.1z M278.3,207.1c-4.1,6.5-9.9,11.3-9.7,19.6
                  c0.2,8.6,10.9-6.5,11.2-8.4c1-6.6-1.1-22.3-5.4-26.9C271.5,198.9,270.7,202.8,278.3,207.1C277.1,209.1,276.8,206.2,278.3,207.1z
                   M280.5,167.2c-11.7-0.9-13.9,1.3-20.8,10.5C261.9,178,280.2,168.8,280.5,167.2C279.6,167.1,280.2,169.1,280.5,167.2z M46.4,196.6
                  c1-2,14.8-1.9,17.8-4.7C63.4,190.4,41.4,190.9,46.4,196.6C46.5,196.3,44.6,194.6,46.4,196.6z M263.9,241.4
                  c-2.7-1.3-6.8,7.1-6.6,8.8C261.7,249,263.9,246.1,263.9,241.4C263.7,241.3,263.3,243.4,263.9,241.4z M263.9,231.2
                  c-4,0.7-5.2,2.1-4.7,5.7C263,236.9,262.7,233.7,263.9,231.2z"/>
                <path fill="none" stroke="#ffd85f" d="M172.8,180.1c-11-2.9-21.6,0-30.6,6.6c11.9-3.6,24.5-3.6,36.5-0.6c1.2-3.2-5.8-4.5-1-6.8
                  c3.1-1.4,16.5,3.4,13.1-3.5c-0.7-0.2,28.7,6.7,19.1,11.8c-6.9,3.6-30.4,25.3-37.7,19.6c4.6-2.7,8.3-3.7,10.5-8
                  c-8-3.6-15.9,4.8-24.5-0.3c-4.1-2.4-2.1-12.6-8.6-10c-1.5,0.6-15.4,14.2-15,12.6c-6.2-1.3,6.2-9.7-4.2-7.3
                  c-5.8,1.3-17.5-1.2-11-12.7c6.8-12,50.1-24.3,63.1-10.9c-0.9-1-18.3,3.6-20.5,4.4C166.2,175.6,169.8,177.3,172.8,180.1
                  C161.3,177.1,170.6,175.5,172.8,180.1z"/>
                <path fill="none" stroke="#ffd85f" d="M132.5,258.2c18.7,0-15.9,26.1-18.1,29.7c-5.8,9.6-30.7-16.2-28.9-22.4c6.4,6.9,16.2,11.7,24,2.7
                  C114.4,262.6,131.7,266.7,132.5,258.2C134,258.2,132.3,260.9,132.5,258.2z"/>
                <path fill="none" stroke="#ffd85f" d="M83.7,301.4c1.8,6,69.5-10.2,80.4-0.2c-1.2,1.9-30.2,5-33.4,4.3c-11.8-2.5-41.3,1-53.5,4.8
                  C76.9,305.6,79.1,302.6,83.7,301.4C83.9,302.1,79.3,302.3,83.7,301.4z"/>
                <path fill="none" stroke="#ffd85f" d="M130.6,312c5.3-1.6,7.7-5.1,10.6-4.4c6.1,1.3-6.5,14.3-11.3,13.3c-7.5-1.5-24.3,5.9-29-1.6
                  C104.9,317.4,133.8,317.5,130.6,312C133.3,311.1,130.8,312.3,130.6,312z"/>
                <path fill="none" stroke="#ffd85f" d="M48.4,296.3c-3.1-5.9-12.8-46.6-12.3-46.4c0.8,0.4,9.9,28.3,9.9,29.5C46.5,285.8,50.4,289,48.4,296.3z"/>
                <path fill="none" stroke="#ffd85f" d="M33.4,246.2c-0.7-3.8-1.4-7.7-2-11.5C34.8,237.8,35.8,243.1,33.4,246.2z"/>
                <path fill="none" stroke="#ffd85f" d="M124.8,385.2c4.5-0.4,8.5-0.7,13.2-1.2C135.2,386.1,128.8,386.5,124.8,385.2z"/>
              </g>
          </svg>
      </div>
    </div>
    <!--EPISODE 1-->
    <div id="page1" class="back color3 page1">
      <img class="fotoFamily" src="images/prel_0.jpg"/>
      <div id="texto1" class="texto texto1">Xavier Cugat nace en Girona el 1 de enero de 1900 en el seno de una familia... bla, bla, bla.</div>
    </div>
    <div id="page2" class="back color4 page2">
      <div id="cita1" class="cita01 cita1">"De Girona recordo molt poc, si no és la intimitat d'aquella plaça on passava llargues hores del dia i que em semblava meva"</div>
      <img class="prel01" src="images/prel_01_old.jpg"/>
      <div class="prelGroup">
        <img class="prel02" src="images/prel_02_old.jpg"/>
        <img class="prel03" src="images/prel_03_old.jpg"/>
      </div>
      <div class="mapSvgContainer">
        <!--<object id="yoursvg" data="images/mapWorld.svg" type="image/svg+xml" ></object>-->
         <img class="mapSvgClassTop" src="images/mapWorld.svg"/>
         <!--<img class="mapSvgClassTop" src="images/viaje1.svg"/>-->
         <!--<img class="mapSvgClassTop" src="images/viaje2.svg"/>-->
        <svg class="mapSvgClassTop" version="1.1" id="viaje1Svg" x="0px" y="0px" viewBox="0 0 950 620" enable-background="new 0 0 950 620" xml:space="preserve">
           <g class="viaje1Class">
             <path fill="none" stroke="#68C8F2" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="1.0021,1.0021" d="
                  M458.829,213.181c4.401,1.819,14.877,3.917,9.012,9.061c-2.391,2.095-5.58,2.744-8.02,4.242c-2.607,1.603-4.662,3.303-7.34,4.666
                  c-2.267,1.153-4.979,2.016-7.389,2.943c-3.229,1.244-5.657,2.542-9.333,2.89c-7.253,0.685-14.518,0.294-21.521,2.443
                  c-3.875,1.188-7.592,0.836-11.77,1.411c-4.493,0.618-9.074,2.09-13.628,2.681c-8.021,1.042-15.207,2.303-22.988,4.417
                  c-18.953,5.148-37.69,9.099-56.729,12.574c-12.612,2.302-24.373,5.697-36.958,7.309c-9.13,1.168-20.827-1.956-28.836,3.118"/>
            <ellipse fill="#ffd85f" cx="242.375" cy="271.356" rx="2.875" ry="2.688"/>
            <ellipse fill="#ffd85f" cx="458.55" cy="213.792" rx="2.875" ry="2.688"></ellipse>
           </g>
        </svg>
      </div>
      <div id="texto2" class="texto texto2">Joan Cugat de Bru era un electricista amb problemes per idees progressistes i republicanes a l'Espanya de principis del segle XXI. Al costat de la seva dona, la modista, Àvila Mingall, els seus quatre fills Francesc, Albert, Xavier i Enric, i la seva cunyada i el seu sogre, va emprendre un llarg viatge cap a les Amèriques.</div>
      <div id="texto3" class="texto texto3">Els Cugat volien anar a Mèxic però després de 45 dies terribles a alta mar van desembarcar definitivament a Cuba, on el seu pare va començar a patentar aparells d'il·luminació amb gas acetilè.</div>
      <div class="cita01" style="opacity:0"><spam id="cita2"> i va arribar a inventar una sèrie de coses útils. Va ser el primer que va llançar els aparells d'acetilè que utilitzaven els pescadors de l'avui anomenada Costa Brava. Aquells aparells es posaven darrere de les barquetes perquè els peixos creguessin que era la llum de la lluna i quedaven atrapats</spam></div>
      <div class="cita01 cita2">"El meu pare era molt manyós <span id="cita1suma"> </span> en el seu propi engany". <span class="plusInfoCita" value="1">[+]</span></div>
      <div class="cita01" style="opacity:0"><spam id="cita3"> No oblidem, per comprendre la seva actitud, que havia fracassat la primera República espanyola i que s'havien perdut totes les colònies. El meu pare devia haver estat un republicà ardent</spam></div>
      <div class="cita01 cita3">"Molt ficat en la política, feia discursos contra el govern. <span id="cita2suma"> </span>  contrari a la monarquia restablerta".  <span class="plusInfoCita" value="2">[+]</span></div>
      <div class="cita01" style="opacity:0"><spam id="cita4">  No qui governava llavors, el 1904, però el meu pare estava en contra.</spam></div>
      <div class="cita01 cita4">"Al meu pare el van expulsar d'Espanya. <span id="cita3suma"> </span> Li varen donar 24 hores per marxar".  <span class="plusInfoCita" value="3">[+]</span></div>
      <img class="addon1 videoAddon videoAddon1" src="images/movie.gif"/>
      <img class="addon1 videoAddon videoAddon2" src="images/movie2.gif"/>
    </div>
    <div id="page3" class="back color3 page3">
      <img class="prel04" src="images/prel_08.jpg"/>
      <div id="texto4" class="texto texto4">A prop de casa hi ha una botiga de violins, davant de la qual el nen Cugat sempre s'aturava i somiava algun dia amb posseir un exemplar per ser un violinista virtuós. Al taller d'aquest senyor de València va entrar en contacte amb els instruments de corda i es començà a trobar en la seva salsa...</div>
      <div id="texto5" class="texto texto5">El prestigiós conservatori Peyrellada de l'Havana li va obrir les portes per estudiar violí molt jove de la mà de Joaquín Molina, director de l'orquestra Nacional de Cuba.</div>
      <img class="prel05" src="images/BCN_02.jpg"/>
      <div class="cita02" style="opacity:0"><spam id="cita5"> l'única existent a la ciutat. Jo tenia quatre o cinc anys i em passava tot el dia admirant com feia aquells instruments musicals. No hi havia trànsit al carrer i jo passava de casa meva a la del senyor Salvador constantment,</spam></div>
      <div class="cita02 cita5">"Davant de la casa on vivíem, un valencià anomenat Salvador Iglesias tenia una botiga o taller en el qual fabricava violins i guitarres; <span id="cita4suma"> </span>  fascinat pel seu treball". <span class="plusInfoCita" value="4">[+]</span></div>
      <div class="cita02" style="opacity:0"><spam id="cita6"> jo he heretat del meu pare el seu amor al treball i a la persistència. La vida depèn també de circumstàncies imprevistes: és un camí amb múltiples corbes, pujades i baixades. L'ésser humà camina per ella sense rumb fix i en determinats moments passa alguna cosa que ha de canviar tot el seu devenir. Si el senyor Salvador Iglesias hagués estat fabricant de xoriços, potser jo hagués estat ''xoricer'.</spam></div>
      <div class="cita02 cita6">"El destí de l'ésser humà ve decidit indubtablement pel seu caràcter; <span id="cita5suma"> </span> Però va tenir el bon gust de fabricar violins i els reis de fer-me aquell meravellós present". <span class="plusInfoCita" value="5">[+]</span></div>
      <div class="cita02" style="opacity:0"><spam id="cita7"> El pare li va recomanar que deixés d'anar a estudi i es dediqués a la música. Així començava la carrera de qui es convertiria en un mite, músic, compositor, director i productor que triomfaria en els anys daurats de Hollywood amb la música llatina, </spam></div>
      <div class="cita02 cita7">La màgica nit de Reis d'aquell any, el veí li va fer un violí a la seva mida. Ja no va deixar l'instrument.<span id="cita6suma"> </span> que va popularitzar a tot el món. <span class="plusInfoCita" value="6">[+]</span></div>
      <img class="addon2 videoAddon videoAddon3" src="images/movie.gif"/>
      <img class="addon2 videoAddon videoAddon4" src="images/movie2.gif"/>
      <div id="texto6" class="texto texto6">El 1910, un joveníssim Cugat comença a tocar a l'Orquestra Simfònica del Teatre Nacional de Cuba i coneix al gran tenor del moment, Enrico Caruso.</div>
      <img class="prel06" src="images/prel_06.jpg"/>
      <div id="texto7" class="texto texto7">1912 - El gran tenor Enric Caruso estava assegut al Cafè Gómez, un bar de l'Havana, reposant de la calor a l'ombra i dibuixant caricatures, la seva gran afició. A Caruso li va fer gràcia el dibuix que el joveníssim Cugat li havia fet i el va convidar a un refresc, i així va començar una amistat que marcaria per sempre la vida de Cugat...</div>
      <img class="prel07" src="images/prel_07.jpeg"/>
      <div id="texto8" class="texto texto8">L'estratègia de fer caricatures i esperar alguna cosa a canvi serà una constant que Cugat aplicaria la resta de la seva vida als presidents i celebritats dels Estats Units.</div>
      <img class="addon3 videoAddon videoAddon3" src="images/movie.gif"/>
      <img class="addon3 videoAddon videoAddon4" src="images/movie2.gif"/>
      <div class="cita03" style="opacity:0"><spam id="cita8"> Jo crec que tots vivim per fer una cosa bé, i aquells que triomfen, són els que, per una casualitat,</spam></div>
      <div class="cita03 cita8"><span id="cita7suma">"La passió de la meva vida ha estat la música, el meu relax, la caricatura.</span> troben el motiu pel qual han vingut al món."<span class="plusInfoCita" value="7">[+]</span></div>
    </div>
    <!--EPISODE 2-->
    <div id="page4" class="back color5 page4">
    </div>
    <div id="page5" class="back color3 page5">
    </div>
    <div id="page6" class="back color5 page6">
    </div>
    <div id="page7" class="back color3 page7">
    </div>
  </div>
</div>
<img class="pentagramRect" src="images/penta-recto2-mini.svg"/>
<div style="position:absolute; bottom: 0" id="car"></div>
<div class="timeSlider">
  <input id="slider" class="slideInput" type="range" name="points" min="-5" max="5" value="0" defaultValue="0" step="0.01">
</div>
<div class="yearsGroup">
  <div class="ageTitle age1">1900.</div>
  <div class="ageTitle age2">1910</div>
  <div class="ageTitle age3">1930</div>
  <div class="ageTitle age4">1960</div>
  <div class="ageTitle age5">1980</div>
  <div class="ageTitle age6">1990</div>
  <div class="ageTitle age7">Epil.</div>
</div>
