<!--<div class="BackVideo">-->
  <!--<video class="videoClass" autoplay onloadstart="this.volume=0.5">-->
    <!--<source src="images/Walking.mp4" type="video/mp4">-->
    <!--Your browser does not support the video tag.-->
  <!--</video>-->
<!--</div>-->
<!--<div class="dinamycText" id="quote">-->
  <!--Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.-->
<!--</div>-->
<img class="scrollIcon" src="images/scroll.png"/>
<!--<img class="napFace" src="images/xavi.png"/>-->
<div class="back">
  <div class="backGroundColor color0">
    <div class="tittleOptionsMain">
      <div class="boxGroup">
        <div class="mainBottons">Preludio</div>
        <div class="mainBottons">Mujer 1</div>
        <div class="mainBottons">Mujer 2</div>
        <div class="mainBottons">Mujer 3</div>
        <div class="mainBottons">Mujer 4</div>
        <div class="mainBottons">Mujer 5</div>
        <div class="mainBottons">Epílogo</div>
      </div>
    </div>
    <img class="pentagramRect" src="images/penta-recto.svg"/>
  </div>
  <div class="backGroundColor color1">
    <img class="pentagramRect" src="images/penta-recto.svg"/>
  </div>
  <div class="backGroundColor color2">
    <img class="pentagramRect" src="images/penta-recto.svg"/>
  </div>
  <div class="backGroundColor color3">
    <img class="pentagramRect" src="images/penta-recto.svg"/>
  </div>
  <div class="backGroundColor color4">
    <img class="pentagramRect" src="images/penta-recto.svg"/>
  </div>
  <div class="backGroundColor color1">
    <img class="pentagramRect" src="images/penta-recto.svg"/>
  </div>
  <div class="backGroundColor color3">
    <img class="pentagramRect" src="images/penta-recto.svg"/>
  </div>
</div>
<!--<img class="pentagramRect" src="images/penta-recto.svg"/>-->
<div style="position:absolute; bottom: 0" id="car"></div>
<div class="timeSlider">
  <input id="slider" class="slideInput" type="range" name="points" min="-5" max="5" value="0" defaultValue="0" step="0.01">
</div>


